<template>
  <v-container class="d-flex flex-wrap justify-center">
    <v-row class="d-flex flex-wrap justify-center mt-16 pt-15">
      <v-sheet
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          fill-height
          min-width="300"
          max-width="600"
          color="grey lighten-1"
          rounded
          elevation="2"
      >
        <v-img src="../images/Research01.jpg" class="fill-height" max-width="600">
          <div class="caption">
            <p>Conducting additional research at the Fairfax County Historic Records Center.</p>
          </div>
        </v-img>

      </v-sheet>
      <v-card
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          min-width="300"
          max-width="600"
      >
        <v-card-title class="justify-center" id="title">About History Revealed</v-card-title>
        <v-card-text>
          <p>
            <a href="https://www.historyrevealed.co/"
               style="color: #1565C0"
               target="_blank">History Revealed, Inc.</a> is an independent, 501(c)(3) non-profit,
            historical research organization.
          </p>

          <p>
            We focus on learning more about lesser-known individuals and groups
            of people from the past with a particular emphasis on individuals
            and communities whose stories were not historically told. Using
            historic documents, artifacts, buildings, and the landscape, we
            connect the dots of information in search of the larger story of
            these individuals and groups.
          </p>
          <p>
            Because accessibility of our research is important to us, we engage
            in crowdsourcing to aid us and the public in making research
            discoveries. We create digital presentations and publications that
            showcase not only the data but also provide historical context and
            connections.
          </p>
          <p>
            We actively seek partnerships with universities, museums, and other
            historical organizations to exchange ideas, suggest solutions, and
            implement strategies to further advance the understanding of
            historically forgotten individuals and communities relating to the
            American experience.
          </p>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>

<style scoped>
p {
  font-family: "Iowan Old Style";
  font-size: 18px;
}

#title {
  font-family: "Iowan Old Style";
  font-size: 24px;
}

.caption {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  padding-left: 10px;
  height: 55px;
}



</style>

<script>
export default {
  name: "About",
  created() {
    document.title = "About History Revealed | Shopping Stories";
  },
};
</script>
