<template>
  <v-container class="d-flex flex-wrap justify-center">
    <v-row class="d-flex flex-wrap justify-center">
      <v-sheet
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          fill-height
          min-width="300"
          color="grey lighten-1"
          rounded
          elevation="2"
      >
        <v-img src="../images/Research02.jpg" class="fill-height" max-width="700">

          <div class="caption">
            <p>Learning more about the people and places in the ledgers requires a visit to the Fairfax County Historic
              Records Center.</p>
          </div>
        </v-img>

      </v-sheet>
      <v-card
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          max-width="700"
      >
        <v-card-title class="justify-center" id="title">Acknowledgements</v-card-title>
        <v-card-text>
          <p>
            Without the help of numerous individuals, we would not have been able
            to complete the initial transcriptions to make this database a reality.
          </p>

          <p>
            We would especially like to thank the following for their hard work transcribing
            and reviewing the Colchester 1760/1761 ledger:
          </p>
          <p style="font-weight: bold">
            Krisse Adams, Lori Arbuckle, Michelle Bakels, Julia Bennett, Laura Braddock, Barry Burr,
            Angela Claude, John Crowell Mackie, Rebecca Cruz, Robin Dunn, Charlotte Fennell, Kevin Gushman,
            Louise Haven, Andrew Heer, Morgan Holman, Mary & Alex Hughes, Molly Kerr, Altuan McGarvin, Teresa
            Mock, Sarah Myers, Sebastian Orrego, Christopher Owen, Nicholas Powers, Marian Price, Danielle Rodriguez,
            Rebecca Rodriguez, Jon Sanders, Richard Sickles, Allison Siegel, Joelle Simpson, Sarah Steele, Katherine
            Thurlow, Brett Trace, Nathan Van Buskirk, and Rachel Williams.
          </p>

          <p>
            From 2016-2019, numerous undergraduate and graduate students at the University of Central Florida explored
            ways to think about the people, places, and objects found within the ledgers through research papers, blog
            posts, posters, infographics, website mock-ups, and theses through history classes with Dr. Rosalind Beiler
            (The Atlantic World, 1400-1900; Colonial America, 1607-1765; History & Historians; and Colloquia in Material
            Culture).
          </p>

          <p style="font-weight: bold">
            Finally, the Shopping Stories website and database were developed as part of the University of Central
            Florida’s Computer Science Senior Design class with a terrific team of students: Cameron Garretson (project
            lead), Randy Glasgow, Nick Plympton, Josh Romero, and Matthew Stone.
          </p>
        </v-card-text>
      </v-card>
    </v-row>
    <v-row class="d-flex flex-wrap justify-center mt-6">
      <v-card max-width="1435">
        <v-card-title class="justify-center" id="title">Image Credits</v-card-title>
        <v-card-text>

          <p>
            <em>High Life Below Stairs</em>, John Collet, London, England, 1763, oil on canvas, accession #1991-175, A&B,
            image #TC2000-887. Courtesy of The Colonial Williamsburg Foundation, Gift of Mrs. Cora Ginsburg.
          </p>

          <p>
            <em>A map of the most inhabited part of Virginia containing the whole province of Maryland with part of
              Pensilvania [Pennsylvania], New Jersey and North Carolina</em>, by Joshua Fry, Peter Jefferson, and Thomas
            Jefferys, 1755.  Courtesy of the Library of Congress, Geography and Map Division.
          </p>

          <p>
            <em>Ledger 1760-1761, Colchester, Virginia, Account of Elizabeth Connell (folio 23)</em>, from the John
            Glassford
            and Company Records.  Courtesy of the Library of Congress, Manuscript Division.
          </p>

          <p>
            <em>"Tobacco Production, Virginia, 18th cent.", Slavery Images: A Visual Record of the African Slave Trade and
              Slave Life in the Early African Diaspora</em>, accessed October 21, 2020,
            <a href="http://slaveryimages.org/s/slaveryimages/item/1118" target="_blank"
               style="color: #1565C0">http://slaveryimages.org/s/slaveryimages/item/1118</a>
          </p>
        </v-card-text>

      </v-card>
    </v-row>

  </v-container>
</template>

<style scoped>

p {
  font-family: "Iowan Old Style";
  font-size: 18px;
}

#title {
  font-family: "Iowan Old Style";
  font-size: 24px;
}

.caption {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  padding-left: 10px;
  height: 55px;
}



</style>

<script>
export default {
  name: "Project",
  created() {
    document.title = "Acknowledgements | Shopping Stories";
  },
};
</script>
