<template>
  <v-container class="d-flex mb-0 pb-0" fluid>
    <!-- Navbar -->
    <v-navigation-drawer
      v-model="drawer"
      height="90vh"
    >
      <!-- User Info -->
      <v-card fill-width flat tile>
        <v-sheet
          v-if="this.$store.getters['cognito/isLoggedIn']"
          color="primary"
          height="75"
        >
          <v-card-title> {{ this.$store.getters['cognito/userAttributes'].name }} </v-card-title>
          <v-card-subtitle v-if="this.$store.getters['cognito/userGroups']">
            Role: {{ this.group }}
          </v-card-subtitle>
        </v-sheet>
      </v-card>
      <!-- User Options -->
      <v-list id="userOptions" shaped>
        <v-list-item-group v-model="selectedItem" color="secondary">
          <!-- Item Template -->
          <v-list-item
            v-for="item in userOptionsList"
            :key="item.title"
            class="mt-2 mb-2"
          >
            <v-list-item-action>
              <v-list-item-title class="text-h6">
                <v-icon class="pb-1 pr-2" medium>{{ item.icon }} </v-icon>
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-action>
          </v-list-item>
          <!-- Item Template -->
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <!-- End of Navbar -->
    <v-container>
      <UserSettings v-if="selectedItem === 0" />
      <ImportData v-if="selectedItem === 1" />
      <CheckImports v-if="selectedItem === 2" />
      <Browser v-if="selectedItem === 3" />
      <Docs v-if="selectedItem === 4" />
      <UserManagement v-if="selectedItem === 5" />
    </v-container>
  </v-container>
</template>

<script>
// Components for the user dashboard
import UserSettings from "@/components/UserSettings.vue";
import ImportData from "@/components/ImportData.vue";
import UserManagement from "@/components/UserManagement.vue";
import CheckImports from '@/components/CheckImports.vue';
import Docs from '@/components/Docs.vue';
import Browser from '@/components/Browser.vue';



export default {
  components: { UserSettings, ImportData, UserManagement, CheckImports, Docs, Browser},

  methods: {
    checkUser() {
      if (this.group == 'Researcher') {
        this.userOptionsList[1] = { title: "Import", icon: "mdi-compass", }
        this.userOptionsList[2] = { title: "Files", icon: "mdi-file-find-outline",}
        this.userOptionsList[3] = { title: "Browser", icon: "mdi-database-search",}
        this.userOptionsList[4] = { title: "Docs", icon: "mdi-file-question",}
      }
      else if (this.group == 'Admin') {
        this.userOptionsList[1] = { title: "Import", icon: "mdi-compass", }
        this.userOptionsList[2] = { title: "Files", icon: "mdi-file-find-outline",}
        this.userOptionsList[3] = { title: "Browser", icon: "mdi-database-search",}
        this.userOptionsList[4] = { title: "Docs", icon: "mdi-file-question",}
        this.userOptionsList[5] = { title: "Users", icon: "mdi-account-group",}
      }
    }
  },
  data: () => ({

    username: null,
    drawer: true,
    group: '',
    selectedItem: 0,
    userOptionsList: [
      { title: "Settings", icon: "mdi-cog" },
    ],
  }),

  created() {

    // Only accessible by users who are signed in
    if (!this.$store.getters['cognito/isLoggedIn'])
      this.$router.push("/");

    // Name of page, as seen in the tab
    document.title = "Dashboard | Shopping Stories";

    // grab the group from Cognito
    const groupID = this.$store.getters['cognito/userGroups'];

    // display if exists
    if (groupID == 'Researcher')
      this.group = 'Researcher';

    else if (groupID == 'Admin')
      this.group = 'Admin'

    this.checkUser();
  },
};
</script>

<style>
</style>
