<template>
  <v-card class="mt-0 mx-auto pa-10 mt-5" width="55vw" elevation="4">

    <v-card-title class="justify-center mb-5" id="title">
    Original Ledger Transcripts

    </v-card-title>
    <v-card-subtitle id="subtitle"> These transcripts (as Excel spreadsheets) may be downloaded.  They reflect the transcripts appearance prior to editing for importation into the database and include spellings and approximate appearance as found on the original documents.  </v-card-subtitle>
    <v-container class="mt-7">
    <v-row>
    <v-col>
    <v-btn
      @click="refresh"
      text
      :loading="loadingButton"
      class="pb-1"
    >
      <v-icon color="secondary"  medium> {{ refreshIcon }} </v-icon>
    </v-btn>
    </v-col>
    <v-col></v-col>
    <v-col>


      <v-text-field
        v-model="search"
        label="Search (UPPER CASE ONLY)"
        class="mx-4"
        id="subtitle"
        color="secondary"
        single-line
        hide-details
        append-icon="mdi-magnify"
      ></v-text-field>
      </v-col>
      </v-row>

      <v-data-table
        :headers="headers"
        :items="payload"
        item-key="name"
        class="elevation-1"
        :loading="isLoading"
        :search="search"
        :custom-filter="filterOnlyCapsText"
      >
      <v-progress-linear
        v-show="isLoading"
        slot="progress"
        color="secondary"
        indeterminate
      >
      </v-progress-linear>
      <template v-slot:item.actions="{ item }">
        <v-row>
          <v-col>
            <v-icon
              small
              color="secondary"
              @click="downloadItem(item)"
            >
              mdi-cloud-download-outline
            </v-icon>
          </v-col>
        </v-row>
      </template>
    </v-data-table>
    </v-container>
  </v-card>
</template>

<script>
import { HTTP } from '../services/http-common'
import { mapMutations } from 'vuex'

export default {
  name: "Search",

  methods: {
    ...mapMutations(["setSnackbar"]),
    getPayload() {
      // Retrieves all the files in the S3 bucket
      HTTP.get('import/files', {params: {bucket: 'ss-documents'}})
      .then((response) => {
        // grab message payload
        this.payload = response.data.message
      })
      .catch((e) => {
        console.log(e)
        // alert user of error
        this.setSnackbar({
          type: "error",
          msg: 'Error: Unable to retrieve files',
          timeout: 20000,
        })
      })
      .finally(() => {
        this.isLoading = false;
      })

    },
    // filters results via user input
    filterOnlyCapsText (value, search) {
      return value != null &&
      search != null &&
      typeof value === 'string' &&
      value.toString().toLocaleUpperCase().indexOf(search) !== -1
    },

    refresh() {
      this.loadingButton = true;
      this.getPayload()

      // to alert user of action
      setTimeout(() => {
        this.loadingButton = false;
      }, 500)
    },

    // downloads item from S3 bucket
    downloadItem(item) {
      this.editedIndex = this.payload.indexOf(item)
      this.editedItem = Object.assign({}, item)
      HTTP.get('import/file/download/documents', {responseType: 'blob',  params: {filename: this.editedItem.file}} )
      .then((response) => {
        console.log("response: ", response)
        const url = URL.createObjectURL(new Blob([response.data], {
            type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        }))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', this.editedItem.file)
        document.body.appendChild(link)
        link.click()
        if (response.status == '200') {
          this.setSnackbar({
            type: "success",
            msg: 'Downloading ' + this.editedItem.file,
            timeout: 5000,
          })
        }

        else if (response.status == '300') {
          this.setSnackbar({
            type: "warning",
            msg: 'File ' + this.editedItem.file + ' does not exist',
            timeout: 5000,
          })
        }
      })
      .catch((err) => {
        console.log('Failed downloadItemConfirm: ', err)
        this.setSnackbar({
          type: "error",
          msg: 'Unable to download file',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.dialogUpload = false
        this.refresh()
      })
    },

  },

  data() {
    return {
      uploadIcon: 'mdi-cloud-upload-outline',
      file: null,
      value: '',
      isLoading: false,
      loader: null,
      payload: [],
      search: '',
      loadingButton: false,
      refreshIcon: 'mdi-refresh',

      dialogDelete: false,
      dialogUpload: false,
      editedItem: {
        file: '',
        time: '',
      },
      defaultItem: {
        file: '',
        time: '',
      },
      editedIndex: -1,
    };
  },

  computed: {
    headers() {
      return [
        {
          text: "File Name",
          align: "start",
          sortable: false,
          value: 'file',
        },
        { text: "Uploaded", value: "time" },
        { text: 'Actions', value: 'actions', sortable: false },
      ]
    },
  },

  watch: {
    loader () {
      const l = this.loader
      this.[l] = !this.[l]
      setTimeout(() => (this[l] = false), 1500)
      this.loader = null
    },
  },

  created() {
    document.title = "Transcripts | Shopping Stories";
    this.isLoading = true;
    this.getPayload()
  },
};
</script>

<style>
#title {
  font-family: "Iowan Old Style";
  font-size: 24px;
}

#subtitle {
  font-family: "Iowan Old Style";
  font-size: 18px;
}
</style>
