<template>
  <v-container class="ma-16 pt-10 mx-auto">
    <v-card class="mx-auto pa-10" width="500" elevation="6">
      <v-card-title>Confirm Email</v-card-title>
      <v-card-subtitle
        >Please input the email that was used to sign up. If an account exists, we
        will send an email to containing the verification code to reset your password.</v-card-subtitle
      >
      <!-- Sign-In -->
      <v-form ref="form" class="mx-auto">
        <v-row>
          <v-text-field v-model="internalValue" name="email" class="ml-7 mr-7" color="secondary" label="Email" outlined>
          </v-text-field>
        </v-row>
        <v-card-actions class="justify-center mt-5">
          <v-btn @click="submit()" color="secondary" class="white--text">
            Send Code
            <v-icon class="pl-2"> mdi-email </v-icon>
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
  data: () => ({

    // Attributes
    emailAddress: "",
  }),

  methods: {
    ...mapActions("cognito", ["forgotPassword"]),
    ...mapMutations(["setSnackbar"]),
    ...mapMutations(['setEmail']),

    // Creates new password from user input
    submit() {
      this.forgotPassword({
        username: this.email,
      })
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: "Success! Check your email for instructions",
        });
        this.$router.push("/auth/verify");
      })
      .catch((err) => {
        console.error(err);
        this.setSnackbar({
          type: "error",
          msg: err,
          timeout: 10000,
        });
      })
      .finally(() => {
        this.isLoading = false;
      });
    },
  },

  computed: {
    ...mapState(['email']),
    internalValue: {
      get () {
        return this.$store.state.email
      },
      set (val) {
        this.setEmail(val)
      }
    }
  },

  created() {
    document.title = "Forgot Password | Shopping Stories";
  },
};
</script>

<style>
</style>
