<template>
  <v-container fluid class="mx-auto mb-2" style="max-width: 1950px">
      <v-carousel cycle interval="12000" height='75vh' class="pa-2" show-arrows-on-hover>
        <v-carousel-item v-for="(item, i) in items" :key="i" :src="item.src">
            <v-layout
              class="pb-5"
              fill-height
              align-end
              style="cursor: pointer"
              @click="$router.push({ name: item.link })"
            >
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                class="mb-12"
              >
                <span v-text="item.text"></span>
              </v-btn>
              <v-spacer></v-spacer>
            </v-layout>
        </v-carousel-item>
      </v-carousel>

    <div class="my-2">
      <h1>
        Shopping Stories: People, Places, & Things – the Power of 18th-Century
        Ledgers
      </h1>
      <h2>Discover. Connect. Communicate.</h2>
    </div>
  </v-container>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",

  data() {
    return {
      items: [
        {
          src: require('../images/HighLifeBelowStairs.jpg'),
          title: "Painting",
          text: "Search the Database",
          link: "Search",
        },
        {
          src: require('../images/Map.png'),
          title: "Map",
          text: "About the Shopping Stories Project",
          link: "Project",
        },
        {
          src: require('../images/ElizabethConnell.jpg'),
          title: "Folio",
          text: "Transcribing and the Database",
          link: "Transcription",
        },

        {
          src: require('../images/Money.jpg'),
          title: "Money",
          text: "Ledger Basics",
          link: "Ledgers",
        },
        {
          src: require('../images/Quill01.jpg'),
          title: "Book and Quill",
          text: "Acknowledgements",
          link: "Acknowledgements",
        },
      ],
    };
  },

  created() {
    document.title = "Shopping Stories";
  },
};
</script>

<style>
h1 {
  text-align: center;
  font-family: "Iowan Old Style";
}
h2 {
  text-align: center;
  font-family: "Iowan Old Style";
}
</style>
