<template>
  <v-container class="d-flex flex-wrap justify-center">
    <v-row class="d-flex flex-wrap justify-center ">
      <v-sheet
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          min-width="300"
          max-width="600"
          color="grey lighten-1"
          rounded
          elevation="2"
      >
        <v-img src="../images/ElizabethConnell2.jpg">
          <div class="caption">
            <p>Elizabeth Connell’s purchases and payments (folio 23), Colchester store 1760/1761</p>
          </div>

        </v-img>

      </v-sheet>
      <v-card
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          max-width="600"
      >
        <v-card-title id="title"
        >A Look at Ledgers</v-card-title
        >
        <v-card-text>
          <p>
            With no computers and databases to keep track of inventory and customers,
            businesses kept ledgers – books that kept the list of customers, what was
            purchased when, and how purchases were paid.  Ledgers were used by anyone
            who ran a business from tradesmen like tailors, blacksmiths, and printers
            to those who operated general stores like the two History Revealed, Inc.
            (HRI) is currently studying in Colchester and Alexandria, Virginia.
          </p>

        </v-card-text>
      </v-card>
    </v-row>
    <v-row class="d-flex flex-wrap justify-center">
      <v-card
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          max-width="600"
          max-height="575"
      >
        <v-card-title id="title">Ledgers: The Basics</v-card-title>
        <v-card-text>
          <p>
            Creation of ledgers started with waste books – similar to receipts.  Then,
            at the conclusion of every day, all those small transactions were entered
            into a day book, by date.  At the end of the year, the day book would be
            converted into an account ledger organized by customer providing the business
            owner a legal record of all the customers, what was purchased/when, and who still
            owed money.  As the legal record of the business’s transactions, it could be used
            as evidence in court.
          </p>

          <p>
            Ledger accounts typically spread out across two pages: the page on the left side listed
            all the purchases (debits) and the page on the right listed all the payments (credits).
            Each account began with the customer’s name, and sometimes a profession, location of residence,
            familiar relationships, and/or who provided security (the person responsible for paying the
            account if the customer didn’t).  The account information appeared either entirely above the
            purchases or spread across both pages.  Beneath the account information appeared the transactions
            (either purchases or payments) by date with a matching annual account total on both pages.
          </p>
        </v-card-text>
      </v-card>
      <v-sheet
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          min-width="500"
          max-width="600"
          max-height="575"
          color="grey lighten-1"
          rounded
          elevation="2"
      >

        <v-img src="../images/Books.jpg" class="fill-height"></v-img>

      </v-sheet>
    </v-row>
    <v-row class="d-flex flex-wrap justify-center">
      <v-sheet
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          min-width="500"
          max-width="600"
          color="grey lighten-1"
          rounded
          elevation="2"
      >
        <v-img src="../images/Tobacco.jpg" class="fill-height">
          <div class="caption2">
            <p>Tobacco leaves</p>
          </div>
        </v-img>

      </v-sheet>
      <v-card
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          max-width="600"
          min-width="500"
      >
        <v-card-title id="title"
        >Purchases and Payments</v-card-title
        >
        <v-card-text>
          <p>
            In the 18th-century, while customers could pay at the time of sale,
            many people made their purchases on credit with the intent to pay their
            account after harvests of tobacco or other crops.  Most purchases of goods
            and services were not done through bartering, but with credit; everything
            had value and that was what you paid or owed even when no money changed hands.
          </p>
          <p>
            When looking at the ledger, the more straightforward page to understand is the debit
            or purchases page – what was purchased by the account holder or paid to others by the
            store on the customer’s behalf.  Each row begins with a date, the word ‘To’ indicating
            the transaction results in a debt to the store, and then a list of transactions or purchases
            that occurred with a total on the far right.  When lots of items were purchased or transactions
            occurred on the same day, rather than repeat the date again and again, the author simply creates
            a list and assumes the reader knows it is the same day.
          </p>

          <p>
            Purchases included not only goods; the store acted as a bank lending money, as a place to pay taxes
            and fines, payments for services rendered, or to pay back friends and family.  The money could be
            either traditional currency or tobacco.
          </p>

          <p>
            More challenging to understand is the credit page – how someone paid their account and what form that
            payment came in from cash to tobacco to payments made by others.  Similar to the debit side, each
            transaction begins with a date, this time with the word ‘By’ which tells us the transaction will be
            paying the store, and then a list of transactions or payments that occurred with a total on the far
            right.  And like the debit page, when transactions occurred on the same day, the author created a list
            rather than repeating the date each time.  Payments in tobacco included the crop or transfer note
            information provided at the tobacco warehouse and the conversion rate for each one hundred pounds of
            tobacco.
          </p>

          <p>
            While ledgers may seem complicated, they become easier when you see the pattern: a list of customers with
            purchase transactions on one page and payment transactions on the other.
          </p>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>

<style scoped>
p {
  font-family: "Iowan Old Style";
  font-size: 18px;
}

#title {
  font-family: "Iowan Old Style";
  font-size: 30px;
}

.caption {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.65); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  padding-left: 10px;
  height: 55px;
}


.caption2 {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.65); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  padding-left: 10px;
  height: 40px;
}


</style>

<script>
export default {
  name: "Ledgers",
  created() {
    document.title = "Ledger Basics | Shopping Stories";
  },
};
</script>
