<template>
  <v-container
      fluid
      class="fill-height backgroundColor"
  >

    <v-row
        align="center"
        justify="center"
        class="my-lg-auto"
    >
      <v-col
          cols="12"
          sm="16"
          md="4"
      >
        <v-card class="elevation-6" max-width="600" min-width="500">

          <div
              class="bgimg"
          >
            <v-row justify="center">
              <v-avatar
                  class="profile my-5"
                  color="grey"
                  size="200"

              >
                <v-img src="../assets/bezos.jpg" alt="Bezos"></v-img>
              </v-avatar>
            </v-row>
          </div>

          <v-row justify="center">
            <v-card-title class="mt-3">
              <h1>Jeff Bezos</h1>
            </v-card-title>
          </v-row>

          <v-row justify="center">
            <v-card-title>
              <h3>Admin/Contributor/Researcher</h3>
            </v-card-title>
          </v-row>

          <v-row justify="center" class="my-3 mx-16">
            <v-icon color="secondary" class="mx-4">mdi-map-marker</v-icon>
            <h4>Seattle, WA</h4>
          </v-row>

          <v-row justify="center" class="my-5 mx-16">
            <v-icon color="secondary" class="mx-4">mdi-briefcase</v-icon>
            <h4>Chief Executive Officer, Amazon Inc.</h4>
          </v-row>

          <v-row justify="center" class="my-2 mx-16">
            <v-icon color="secondary" class="mx-4">mdi-information</v-icon>
            <h4>About Me:</h4>
          </v-row>

          <v-row class="my-2 mx-16">
            <v-card-text class="font-weight-bold mb-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin elit in egestas euismod. Quisque leo nisi, tempor sit amet placerat et, cursus ac ante. Praesent lobortis luctus nisl, id faucibus tortor tempor eu. Vivamus ut sapien quam. Ut ornare lorem quis nisi ultrices bibendum. Nulla faucibus lorem sit amet feugiat porttitor. Morbi pretium nec est vel luctus. Integer placerat neque eget enim convallis mattis.
              Donec porttitor nisi ut erat pellentesque placerat. Nullam euismod quam eget mauris pharetra placerat. Ut dignissim, urna non tincidunt tincidunt, nisl velit tincidunt leo, eget tincidunt odio leo vel velit. Proin vitae egestas odio. Proin dui mauris, faucibus eu bibendum iaculis, tempus id diam. Vivamus non accumsan mi. Sed consectetur sagittis arcu et gravida. Nulla aliquet euismod ante sit amet volutpat.
            </v-card-text>
          </v-row>



        </v-card>
      </v-col>
    </v-row>




  </v-container>
</template>

<style type="text/css">
.bgimg {
  background-image: url('../assets/Painting.png');
}
</style>

<script>
export default {
  name: 'Profile',

  created() {
    document.title = "Profile | Shopping Stories"
  },
}
</script>
