<template>
  <v-container class="d-flex flex-wrap justify-center">
    <v-row class="justify-center">
      <v-sheet
        class="justify-lg-start justify-md-start justify-sm-center ma-4"
        max-width="700"
        color="grey lighten-1"
        rounded
        elevation="2"
      >
        <v-img src="../images/JohnGlassford.jpg" max-width="700" class="fill-height">
          <div class="caption">
            <p>John Glassford account (folio 1), Colchester store 1760/1761</p>
          </div>
        </v-img>
      </v-sheet>
    </v-row>

      <v-row class="d-flex flex-wrap justify-center">

      <v-card
        class="justify-lg-start justify-md-start justify-sm-center ma-4"
        max-width="1000"
      >
        <v-card-title id="title"
          >The Shopping Stories Project</v-card-title
        >
        <v-card-text>
          <p>
            Eighteenth-century ledgers detail tabular data: recording purchases,
            account holders, and payments. These transactions are very different
            from the typical prose of a letter or diary entry, however, they
            include as much, if not more, significant information to assist in
            the understanding of the past given they describe numerous people,
            places, objects, economies, politics, religion, etc., all from a
            single community. Ledgers especially reveal insights into the lives
            of less recognized members of a community, like women and the
            enslaved, through their accounts and purchases by and on behalf of
            them by others.
          </p>

          <p class="pl-3" id="caption">
            Without even connecting the ledgers to other documents, much can be
            learned from the accounts. Mrs. Elizabeth Connell made twelve trips
            to the store beginning on October 4, 1760, through December 17,
            1761. With an individual account, she had money of her own, and the
            use of the title ‘Mrs.’ indicates she was most likely a widow.
            Connell’s account shows she had at least two children – an unnamed
            daughter and a son, Giles – both who made purchases against her
            account. She was responsible for people and property, as on June 25,
            1761, she paid the sheriff and parish collector tithes and levies
            for two people and at least 400 acres of land. While she was not
            responsible for paying a tithe on herself, the two individuals may
            have either been enslaved or a white male over the age of 16 years
            (her son?). On this same day, she paid her account in tobacco and
            purchased a reap hook and nacconies (an Indian striped calico
            usually associated with clothing of the enslaved), thus it is likely
            she was responsible for at least one enslaved individual who farmed
            the tobacco. Connell was connected to at least three men – Giles,
            John Ford, and Sampson Turley – as they appeared as either a
            purchaser on her account (Giles purchased hats, Ford purchased
            buttons) or someone Connell paid (Turley with tobacco). She owned a
            firearm as she purchased shot (as did her son). The remainder of her
            purchases were typical of most customers to the store with a focus
            on materials to make clothing (fabrics, thread, buttons, pins, and
            needles); although, she also purchased some kitchen accoutrements,
            shoes, hats, and a large blanket.
          </p>
          <p>
            To date, most research using ledgers (whether it be for a store,
            tradesperson, or individual) selects the most significant people or
            specific elements without attempting to understand the community in
            its entirety. Using store ledgers, Shopping Stories intends to
            develop a prosopography to uncover consumer interests, lives, and
            the larger community of people in the 18th century through an
            online, searchable database.
          </p>
        </v-card-text>
      </v-card>
    </v-row>
    <v-row class="d-flex flex-wrap justify-center">
      <v-card
        class="justify-lg-start justify-md-start justify-sm-center ma-4"
        max-width="1000"
      >
        <v-card-title id="title">People, Places, and Things</v-card-title>
        <v-card-subtitle class="mt-n2" id="subtitle">
          The Power of the 18th-Century Ledgers of John Glassford &
          Company</v-card-subtitle
        >
        <v-card-text>
          <p>
            Scotsman John Glassford controlled a major portion of the Chesapeake
            tobacco trade by establishing stores along the Potomac River where
            planters sold tobacco and purchased goods such as rum, sugar, salt,
            cloth, and hardware, as well as slaves.
            <a href="https://findingaids.loc.gov/db/search/xq/searchMfer02.xq?_id=loc.mss.eadmss.ms998016&_faSection=overview&_faSubsection=did&_dmdid="
               style="color: #1565C0"
               target="_blank">The John Glassford & Company Papers</a>,
            owned by the Library of Congress, detail the daily
            transactions of the company and include the records of twenty
            identified branch stores in the Tidewater of Virginia and Maryland.
            These store accounts capture a moment in time – at the height of the
            colonial tobacco trade when access to consumer goods extended not
            only to upper class planters, but increasingly to the middle and
            lower classes including craftspeople, tenants, hired white workers,
            and the enslaved community.
          </p>
          <!-- Needs to add links -->
          <p>
            The first phase of the project involved a crowd-sourced effort to
            transcribe 11 ledgers, with over 4,300 pages from two Virginia
            stores in Colchester and Alexandria from 1758-1769. In the second
            phase, <a href="https://www.historyrevealed.co/" style="color: #1565C0" target="_blank">History Revealed, Inc.</a>
            (HRI), worked with the University of
            Central Florida (UCF) on a community partnership grant with history
            students to explore the people, places, and objects found within the
            1760/1761 Colchester store ledger through essays published on the
            website, <a href="https://projects.cah.ucf.edu/economyofgoods/"
                        style="color: #1565C0"
                        target="_blank">Economy of Goods</a>. In addition, HRI posted transcription
            challenges on
            <a href="https://www.facebook.com/HistoryReveal" style="color: #1565C0" target="_blank">social media</a>
            and
            <a href="https://www.historyrevealed.co/blog-1" style="color: #1565C0" target="_blank">blog posts</a>
            to its website. In
            addition, interns developed an index of objects and an index of
            people and places found in the ledger. The UCF partnership is
            culminating in the development of this prototype web application to
            provide the ledger’s data in a publicly accessible format enabling
            searches by people, places, and objects contained within these
            manuscripts.
          </p>
          <p>
            These ledgers provide a look at life prior to the American
            Revolution, a time of transition as colonists experienced greater
            trade restrictions with Great Britain. The goal is to better
            understand the community who frequented these stores, what they
            purchased, how they paid for their goods - a glimpse into their
            lives and the local economy of Northern Virginia from 1758-1804, all
            contained in these interactions.
          </p>
        </v-card-text>
      </v-card>
      <v-sheet
        class="justify-lg-start justify-md-start justify-sm-center ma-4"
        fill-height
        max-width="700"
        color="grey lighten-1"
        rounded
        elevation="2"
      >
        <v-img src="../images/ColchesterToday.jpg" class="fill-height" max-width="700">
          <div class="caption">
            <p>Colchester, Virginia, looks much changed today.</p>
          </div>
        </v-img>
      </v-sheet>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Project",
  created() {
    document.title = "About The Project | Shopping Stories";
  },
};
</script>

<style scoped>
#caption {
  border-left: 5px double #BBDEFB;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-family: "Iowan Old Style";
  font-size: 14px;
}

p {
  font-family: "Iowan Old Style";
  font-size: 18px;
}

#title {
  font-family: "Iowan Old Style";
  font-size: 28px;
}

#subtitle {
  font-family: "Iowan Old Style";
  font-size: 20px;
}

.caption {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.65); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  padding-left: 10px;
  height: 35px;
}

</style>
