<template>
  <v-card class="mt-13 mx-auto pa-10" width="75vw" elevation="4">
    <v-card-title style="font-family: 'Iowan Old Style'; font-weight: bold">Transactions</v-card-title>
    <v-card-subtitle style="font-family: 'Iowan Old Style'"> Search through ledger transactions </v-card-subtitle>
    <v-container class="pa-10">



      <v-data-table
        :headers="headers"
        :items="payload"
        item-key="name"
        class="elevation-1"
        :search="search"
        :custom-filter="filterOnlyCapsText"
        loading="isLoading"
        loading-text="Loading... Please wait"
      >
      <v-progress-linear v-show="isLoading" slot="progress" color="secondary" indeterminate></v-progress-linear>
        <template v-slot:top>
          <v-text-field
            v-model="search"
            label="Search (UPPER CASE ONLY)"
            color="secondary"
            class="mx-4"
          ></v-text-field>
        </template>
      </v-data-table>



    </v-container>
  </v-card>
</template>

<script>
import { HTTP } from '../services/http-common'
import { mapMutations } from 'vuex'

export default {
  name: "Search",

  methods: {
    ...mapMutations(["setSnackbar"]),


    async getPayload() {

      console.log('getting payload...')

      // for testing connection
      await HTTP.get('import/count')
      .then(function(response) {
        console.log(response)
      })
      .catch(function() {
        console.log('Failed GET')
      })


      await HTTP.get('neo4j/data')
      .then((response) => {
        console.log("success! response: ", response)
        console.log("here's data: ", response.data)
        console.log("here's ledger_year: ", response.data[0]._fields[0].properties.transaction_date)
        this.payload = response.data
        console.log("payload: ", response.data)
      })
      .catch((e) => {
        console.log('Failed return all, error: ', e);
      })

      this.isLoading = false;
    },


    filterOnlyCapsText (value, search) {
      return value != null &&
      search != null &&
      typeof value === 'string' &&
      value.toString().toLocaleUpperCase().indexOf(search) !== -1
    },
  },

  data() {
    return {

      // For populating data tables
      tab: null,
      items: [
        'users', 'groups',
      ],

      isLoading: false,

      loader: null,
      loading: false,

      payload: [],
      selected: [],
      search: '',

    };
  },

  computed: {
    headers() {
      return [
        {
          text: "First Name",
          align: "start",
          sortable: false,
          value: '_fields[0].properties.first_name',
        },
        { text: "Last Name", value: '_fields[0].properties.last_name' },
        { text: "Store", value: '_fields[0].properties.store_name' },
        { text: "Date", value: '_fields[0].properties.transaction_date' },
        { text: "Type", value: '_fields[0].properties.transaction_type' },
        { text: "Currency", value: '_fields[0].properties.currency_type' },
        { text: "Folio Page", value: '_fields[0].properties.folio_page' },
      ]
    }
  },
    watch: {
    loader () {
      const l = this.loader
      this.[l] = !this.[l]

      setTimeout(() => (this[l] = false), 1500)
      this.loader = null
    },
  },

  created() {
    this.isLoading = true;
    document.title = "Search the Database | Shopping Stories";
    this.getPayload()
  },
};
</script>
