<template>
  <v-container class="ma-10 mx-auto">
    <v-card class="mx-auto pa-10" width="500" elevation="6">
      <!-- Icon -->
      <v-container class="mx-auto d-flex flex-wrap">
        <v-icon class="main-icon mx-auto" color="secondary">
          mdi-account-circle
        </v-icon>
      </v-container>

      <!-- Sign-In -->
      <v-form ref="form" class="mt-6 mx-auto" v-on:keypress.enter="login">
        <v-row>
          <v-text-field
            class="ml-15 mr-15"
            color="secondary"
            label="Username/Email"
            v-model="username"
            outlined
            v-on:keypress.enter="login"
          >
          </v-text-field>
        </v-row>
        <v-row>
          <v-text-field
            class="ml-15 mr-15"
            color="secondary"
            label="Password"
            type="password"
            v-model="password"
            outlined
            v-on:keypress.enter="login"
          >
          </v-text-field>
        </v-row>
        <v-card-actions class="justify-center mt-5">
          <v-btn @click="login()" color="secondary" class="white--text">
            Login
            <v-icon class="pl-2"> mdi-login </v-icon>
          </v-btn>
        </v-card-actions>
      </v-form>
      <v-card-actions class="mt-10">
        <v-btn text to="/auth/forgotpassword">Forgot Password</v-btn>
        <v-spacer></v-spacer>
        <v-btn text to="/auth/signup"> Create Account</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
export default {
  components: {
  },
  
  methods: {
    // vuex
    ...mapActions("cognito", ["signInUser"]),
    ...mapMutations(["setEmail", "setPassword", "setIsLoading", "setSnackbar"]),

    // Login to cognito
    login() {
      // Attempting login
      this.signInUser({
        username: this.username,
        password: this.password,
      })
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: this.username + " has been signed in.",
        });
        // Pushing to the new page
        this.$router.push("/dashboard");
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: "Invalid Username/Password",
        });
        this.$refs.form.reset();
      })
    },
  },

  data: () => ({
    model: 0,
    username: "",
    password: "",
  }),

  created() {

    if (this.$store.getters['cognito/isLoggedIn'])
      this.$router.push("/");

    document.title = "Sign In | Shopping Stories";
  },

};
</script>
<style scoped>
.main-icon {
  font-size: 9rem !important ;
  text-shadow: 0px 10px 10px #00000042;
}
</style>
