<template>
  <v-container class="ma-16 mx-auto">
    <!-- Card Body -->
    <v-card class="mx-auto pa-16" max-width="700" elevation="6">
      <v-card-title class="ml-n2"> Account Creation </v-card-title>
      <v-card-subtitle class="ml-n2"> Note: accounts are not needed to search the database. </v-card-subtitle>

      <!-- Form body for sign-up -->
      <v-form ref="form">
        <!-- Username & First & Last name row  -->
        <v-row class="d-flex flex-wrap">
          <v-text-field
            v-model="firstname"
            class="pa-5"
            color="secondary"
            label="First Name"
            :rules="rules.name"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="lastname"
            class="pa-5"
            color="secondary"
            label="Last Name"
            :rules="rules.name"
            required
          >
          </v-text-field>
        </v-row>
        <v-row>
          <!-- Username & Email -->
          <v-text-field
            v-model="username"
            class="pa-5"
            color="secondary"
            label="Username"
            :rules="rules.username"
            required
          >
          </v-text-field>
          <!-- Email -->
          <v-text-field
            v-model="emailAddress"
            class="pa-5"
            color="secondary"
            label="Email"
            :rules="rules.email"
            required
          >
          </v-text-field>
        </v-row>
        <v-row>
          <!-- Password -->
          <v-text-field
            v-model="password"
            :type="viewPassword ? 'password' : 'text'"
            :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
            @click:append="viewPassword = !viewPassword"
            class="pa-5"
            color="secondary"
            label="Create Password"
            :rules="rules.password"
            required
            counter
          >
          </v-text-field>

          <!-- Confirm Password -->
          <v-text-field
            v-model="confirmPassword"
            :type="viewPassword ? 'password' : 'text'"
            :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
            @click:append="viewPassword = !viewPassword"
            class="pa-5"
            color="secondary"
            label="Confirm Password"
            :rules="[password === confirmPassword || 'Password must match']"
            required
            counter
          >
          </v-text-field>
        </v-row>

        <!-- Submit & Validate -->
        <v-card-actions class="justify-center mt-10">
          <v-btn @click="submit()" color="secondary" class="white--text"> Create Account </v-btn>
        </v-card-actions>
      </v-form>
      <!-- Form body for sign-up -->
    </v-card>
  </v-container>
</template>

<script>
// Utilities
import { mapActions, mapMutations } from "vuex";

export default {
  data: () => ({
    // Control flow
    isLoading: false,
    viewPassword: true,
    // New signup attributes
    username: "",
    firstname: "",
    lastname: "",
    emailAddress: "",
    password: "",
    confirmPassword: "",

    // Rules for each element
    rules: {
      username: [
        (v) => !!v || "Username is required",
        (v) =>
          /^[A-Za-z]+$/.test(v) ||
          "Name can't contain numbers or special chars.", // numbers are actually okay but this is fine for now
      ],
      email: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      name: [
        (v) => !!v || "Name is required",
        (v) =>
          /^[A-Za-z]+$/.test(v) ||
          "Name can't contain numbers or special chars.",
      ],
      password: [
        (v) => !!v || "Password is required",
        (v) => /(?=.*[0-9])/.test(v) || "Password must contain a number", // Checking for at least one number
        (v) =>
          /(?=.*[A-Z])/.test(v) || "Password must contain a uppercase letter", // Checking for at least one uppercase letter
        (v) =>
          /(?=.*[a-z])/.test(v) || "Password must contain a lowercase letter", // Checking for at least one lowercase letter
        (v) =>
          /(?=.*[@#$%^&*!])/.test(v) ||
          "Password must contain a special character", // Checking for at least one special character
        (v) => v.length > 7 || "Password must have 8 or more characters",
      ],
    },
  }),

  methods: {
    ...mapActions("cognito", ["registerUser"]),
    ...mapMutations(["setSnackbar"]),

    // Form Validation
    validateForm() {
      if (!this.$refs.form.validate()) {
        console.error("Not Valid Form");
        return;
      }
    },

    // Form submit to cognito
    submit() {
      // Validating the components meet the rules criteria
      this.validateForm();

      this.isLoading = true;
      this.registerUser({
        username: this.username,
        password: this.password,
        attributes: {
          name: `${this.firstname} ${this.lastname}`,
          email: this.emailAddress,
        },
      })
        .then(() => {
          this.setSnackbar({
            type: "success",
            msg: "Account created. Check your email for verification",
          });

          this.$router.push("/auth/signin");
        })
        .catch((err) => {

          if (err.code == 'UsernameExistsException') {
            this.setSnackbar({
              type: 'error',
              msg: 'Error: Username already exists!',
              timeout: 5000,
            })
          }

          else {
            console.error(err);
            this.setSnackbar({
              type: "error",
              msg: err,
              timeout: 10000,
            });
          }

        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
  created() {
    if (this.$store.getters['cognito/isLoggedIn'])
      this.$router.push("/");

    document.title = "Sign Up | Shopping Stories";
  },
};
</script>
