<template>
  <v-container class="justify-center">
      <h1>Meet the Team</h1>
    <v-row>

      <v-card
          class="mx-auto my-5"
          elevation="4"
          max-width="600"
          max-height="1000"
          tile
      >
          <v-row align="end" class="fill-height">
            <v-col
                align-self="start"
                class="pa-0"
                cols="12"
            >
              <v-avatar
                  class="profile ml-3"
                  color="grey"
                  size="200"
                  tile
              >
                <v-img src="../images/molly.jpg"></v-img>
              </v-avatar>
            </v-col>
            <v-col class="py-0">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title id="title">
                    Molly H. Kerr
                  </v-list-item-title>
                  <v-list-item-subtitle id="subtitle">Founding Director</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-col>

            <v-card-text id="bio" class="mx-3">

              <p>Molly’s interest in colonial history began as a child growing up in a community steeped in stories of
                Virginia’s first Revolutionary War battle, the Battle of Great Bridge (1775).  Her interest in that
                battle continued through college with an independent study as an undergraduate (University of Mary
                Washington, then Mary Washington College) to conduct excavations on the Anglican chapel of ease that
                housed the patriot soldiers during the battle, and ultimately, led to her master’s thesis (University
                of Arkansas, Fayetteville) reporting the results and discussing the community memory surrounding the
                site and the battle in the present. </p>

              <p>While Molly's degrees focus on cultural anthropology and public archaeology, her experiences vary
                from teaching teachers how to make history more engaging in the classroom to the creation of a database
                cataloging the enslaved of George Washington.  She also designed an oral history program on behalf of
                the Norfolk County Historical Society of Chesapeake and created lesson plans for teachers on
                archaeology.  Most recently, she developed a crowd-sourced transcription project for the John
                Glassford Papers, featuring stores in Alexandria and Colchester, Virginia. </p>

              <p>In all Molly's efforts, she attempts to impart her enthusiasm and passion for history and attempts to
                show the connection between the past and the present.  She especially enjoys working with learners of
                all levels from grade school to retirees.  Whether it be talking to a 2nd grade class or presenting to
                her peers at a conference, Molly wants to make all forms of history accessible and relevant to everyone.
              </p>

            </v-card-text>
          </v-row>
      </v-card>

      <v-card
          class="mx-auto my-5"
          elevation="4"
          max-width="600"
          max-height="700"
          tile
      >

          <v-row align="end" class="fill-height">
            <v-col
                align-self="start"
                class="pa-0"
                cols="12"
            >
              <v-avatar
                  class="profile ml-3"
                  color="grey"
                  size="200"
                  tile
              >
                <v-img src="../images/esther.jpg"></v-img>
              </v-avatar>
            </v-col>
            <v-col class="py-0">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title id="title">
                    Esther C. White
                  </v-list-item-title>
                  <v-list-item-subtitle id="subtitle">Founding Director</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-col>

            <v-card-text id="bio" class="mx-3">

              <p>Trained as a historical archaeologist, Esther spent over two decades excavating at George Washington’s
                Mount Vernon and directing the excavation and historical research for the reconstruction of Washington's
                distillery and gristmill that opened in 2007.
              </p>

              <p>Her interests range from public interpretation of history and archaeology at historic sites, museum
                collections to material culture studies.  She is the author of articles on diverse subjects, including
                early American whiskey distilling, Mount Vernon's gardens, and slave life.  She loves working with
                students of all ages.
              </p>

              <p>In her spare time, Esther enjoys researching family history and visiting historic sites.</p>

              <p>She holds a bachelor's degree from the University of North Carolina, a master's degree from the
                College of William and Mary, and a Ph.D. from the University of Leicester, and lives in Alexandria,
                Virginia.</p>

            </v-card-text>
          </v-row>
      </v-card>
    </v-row>



  </v-container>
</template>

<style scoped>

#title {
  font-family: 'Iowan Old Style';
  font-size: 30px;
  font-weight: bold
}

#subtitle {
  font-family: 'Iowan Old Style';
  font-size: 20px;
}

#bio {
  font-family: 'Iowan Old Style';
  font-size: 17px;

}

h1 {
  font-size: 40px;
}

</style>

<script>
export default {
  name: "Staff",
  created() {
    document.title = "Meet the Staff | Shopping Stories";
  },
};
</script>
