<template>
  <v-container class="d-flex flex-wrap justify-center">
    <v-row class="d-flex flex-wrap justify-center mt-8 pt-15">
      <v-sheet
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          fill-height
          min-width="300"
          max-width="600"
          color="grey lighten-1"
          rounded
          elevation="2"
      >

        <v-img src="../images/Researching.jpg" class="fill-height"
        >

        </v-img>


      </v-sheet>
      <v-card
          class="justify-lg-start justify-md-center justify-sm-center ma-4"
          max-width="600"
      >
        <v-card-title class="justify-center" id="title"
        >The Transcription and Database Process</v-card-title
        >
        <v-card-text>
          <p>
            Going from original manuscripts to digital transcriptions is challenging.
            What started as eleven ledgers from the <a href="https://www.loc.gov/item/mm78022939/"
                                                       style="color: #1565C0"
                                                       target="_blank">John Glassford & Company</a> records
            found on six microfilm reels turned into nearly 4,400 transcription files
            through the efforts of numerous people and partners.
          </p>

          <p>
            Students from universities across the country, as well as a cadre of interested
            volunteers participated in transcribing through a crowd-sourced, citizen-historian
            model.  A ledger page template and transcription manual provided methodology and
            guidance and an evolving glossary of words and abbreviations assisting those
            unfamiliar with cursive handwriting and 18th-century terminology.  After reviewing
            the reference materials, volunteers transcribed a practice set of pages to assess
            their basic level of understanding of both the instructions and the original manuscripts.
            Next, being provided individualized assistance throughout, volunteers were sent the images
            of folios to transcribe into spreadsheets and return for review and additional feedback.
            The transcripts went through at least two reviews prior to inclusion in this database.
          </p>

          <p>
            Given the use of abbreviations and unique pattern of transactions, rather than limit
            transcripts to a straightforward duplication of the original, volunteers inserted assumed
            information, abbreviations, and standardized spellings in square brackets adjacent to the
            original text.  The text included in the database is currently limited to those standardizations
            of abbreviations (e.g. oz = ounce(s)), spelling (e.g. ozenbrigs = osnaburg), and insertion of
            words needed to understand the transactions (e.g. ditto = what was being repeated).  For inclusion
            in the database, when multiple items were grouped together in a single purchase, they were isolated
            by quantity, qualifier, adjective(s), item, and price.
          </p>

          <p>At present, the database only includes a sampling of pages from the Colchester store ledger for 1760-1761.
            Stay tuned for additional information on how to search the database and as additional pages are added.
            Note: an account will not be required to access the ledger information.

          </p>

        </v-card-text>
      </v-card>
    </v-row>

  </v-container>
</template>

<style scoped>
p {
  font-family: "Iowan Old Style";
  font-size: 18px;
}

#title {
  font-family: "Iowan Old Style";
  font-size: 24px;
}



</style>

<script>
export default {
  name: "Project",
  created() {
    document.title = "The Transcription Process | Shopping Stories";
  },
};
</script>
