<template>
  <v-container class="ma-16 pt-10 mx-auto">
    <v-card class="mx-auto pa-10" width="500" elevation="6">
      <v-card-title>Email Verification</v-card-title>
      <v-card-subtitle
      >
        Input the code sent to you through the email address provided
      </v-card-subtitle
      >
      <!-- Input Code -->
      <v-form ref="form" class="mx-auto">
        <v-row>
          <v-text-field v-model="verificationCode" class="ml-7 mr-7" color="secondary" label="Verification Code" outlined>
          </v-text-field>
        </v-row>


        <v-row>
          <!-- Password -->
          <v-text-field
            v-model="password"
            :type="viewPassword ? 'password' : 'text'"
            :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
            @click:append="viewPassword = !viewPassword"
            class="pa-5"
            color="secondary"
            label="Create Password"
            :rules="rules.password"
            required
            outlined
            counter
          >
          </v-text-field>

          <!-- Confirm Password -->
          <v-text-field
            v-model="confirmPassword"
            :type="viewPassword ? 'password' : 'text'"
            :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
            @click:append="viewPassword = !viewPassword"
            class="pa-5"
            color="secondary"
            label="Confirm Password"
            :rules="[password === confirmPassword || 'Password must match']"
            required
            outlined
            counter
          >
          </v-text-field>
        </v-row>


        <v-card-actions class="justify-center mt-5">
          <v-btn @click="submit()" color="secondary" class="white--text">
            Submit
            <v-icon class="pl-2"> mdi-login </v-icon>
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
export default {
  data: () => ({

    viewPassword: true,
    password: "",
    confirmPassword: "",

    rules: {
      password: [
        (v) => !!v || "Password is required",
        (v) => /(?=.*[0-9])/.test(v) || "Password must contain a number", // Checking for at least one number
        (v) =>
          /(?=.*[A-Z])/.test(v) || "Password must contain a uppercase letter", // Checking for at least one uppercase letter
        (v) =>
          /(?=.*[a-z])/.test(v) || "Password must contain a lowercase letter", // Checking for at least one lowercase letter
        (v) =>
          /(?=.*[@#$%^&*!])/.test(v) ||
          "Password must contain a special character", // Checking for at least one special character
        (v) => v.length > 7 || "Password must have 8 or more characters",
        ],
    },

    // Attributes
    verificationCode: "",
  }),

  methods: {
    ...mapActions("cognito", ["changePassword"]),
    ...mapMutations(["setSnackbar", "setEmail"]),

    submit() {
      this.changePassword({
        username: this.email,
        code: this.verificationCode,
        newPassword: this.password,
      })
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: "Success! Your password has been changed",
        });

        // Push user to sign in page
        this.$router.push("/auth/signin");
      })
      .catch((err) => {
        console.error(err);
        this.setSnackbar({
          type: "error",
          msg: 'Unable to process request. Please verify information is accurate',
          timeout: 10000,
        });
      })
      .finally(() => {
        this.isLoading = false;
      });
    },
  },

  created() {
    document.title = "Verify Email | Shopping Stories";
  },

  computed: {
    ...mapState([
      'email',
    ]),
  }
};
</script>

<style>
</style>
