:root[data-theme="light"] {
  --amplify-font-family: 'Amazon Ember', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  --amplify-primary-color: #ff9900;
  --amplify-primary-contrast: var(--amplify-white);
  --amplify-primary-tint: #ffac31;
  --amplify-primary-shade: #e88b01;
  --amplify-secondary-color: #152939;
  --amplify-secondary-contrast: var(--amplify-white);
  --amplify-secondary-tint: #31465f;
  --amplify-secondary-shade: #1F2A37;
  --amplify-tertiary-color: #5d8aff;
  --amplify-tertiary-contrast: var(--amplify-white);
  --amplify-tertiary-tint: #7da1ff;
  --amplify-tertiary-shade: #537BE5;
  --amplify-grey: #828282;
  --amplify-light-grey: #c4c4c4;
  --amplify-white: #ffffff;
  --amplify-red: #dd3f5b;
}

/* currently the same as light */
:root[data-theme="dark"] {
  --amplify-font-family: 'Amazon Ember', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  --amplify-primary-color: #272118;
  --amplify-primary-contrast: var(--amplify-white);
  --amplify-primary-tint: #ffac31;
  --amplify-primary-shade: #e88b01;
  --amplify-secondary-color: #152939;
  --amplify-secondary-contrast: var(--amplify-white);
  --amplify-secondary-tint: #31465f;
  --amplify-secondary-shade: #1F2A37;
  --amplify-tertiary-color: #5d8aff;
  --amplify-tertiary-contrast: var(--amplify-white);
  --amplify-tertiary-tint: #7da1ff;
  --amplify-tertiary-shade: #537BE5;
  --amplify-grey: #828282;
  --amplify-light-grey: #c4c4c4;
  --amplify-white: #ffffff;
  --amplify-red: #dd3f5b;
}

amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}