
html,
body {
  background-image: url("../public/HighLifeBelowStairs.08fa79f2.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  opacity: 1;
}

:root[data-theme="light"] {
  --code-background: #fafafa;
}

/* currently the same as light */
:root[data-theme="dark"] {
  --code-background: #333;
}