<template>
  <v-app v-show="isReady">
    <AppBar> </AppBar>

    <v-main class="fill-height backgroundColor">
      <router-view></router-view>
    </v-main>
    <Footer />
    <Snackbar />
  </v-app>
</template>

<script>
import AppBar from "./components/AppBar";
import Snackbar from "./components/Snackbar";
import Footer from "./components/Footer";
// Utilities
import { mapGetters, mapState } from "vuex";

export default {
  name: "App",

  components: {
    AppBar,
    Footer,
    Snackbar,
  },

  computed: {
    ...mapGetters("cognito", ["isLoggedIn"]),
    ...mapState(["isReady"]),
    maxWidth() {
      switch (this.$route.path) {
        case "/auth/signin":
          return "500";
        default:
          return "900";
      }
    },
    styles() {
      return {
        maxWidth: `${this.maxWidth}px`,
      };
    },
  },


  data: () => ({
    //
  }),
};
</script>
