<template>
  <v-app-bar app color="primary" height="75" elevate-on-scroll>
    <div
      class="d-flex align-center"
      style="cursor: pointer"
      @click="clickMethod"
    >
      <img src="../assets/HRI-Logo.png" alt="" height="85" class="mr-0" />

      <v-toolbar-title class="black--text font-weight-bold hidden-sm-and-down">
        <span style="font-family: 'Iowan Old Style'; font-size: 33px"
          >Shopping Stories</span
        >
      </v-toolbar-title>
    </div>

    <v-spacer></v-spacer>

    <v-toolbar-items class="hidden-md-and-down justify-center">


      <v-btn
        color="blue darken-3"
        large
        text
        @click="pushAbout()"
      >
        <span style="font-family: 'Iowan Old Style'" class="font-weight-bold">
          About History Revealed
        </span>
      </v-btn>
      <v-menu offset-y open-on-hover>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="blue darken-3"
            v-bind="attrs" v-on="on"
            large
            text
          >
            <span style="font-family: 'Iowan Old Style'" class="font-weight-bold">
              The Shopping Stories Project
            </span>
            <v-icon large>mdi-menu-down</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
              v-for="item in barMenu"
              :key="item.title"
              :icon="item.icon"
              router
              :to="item.route"
          >
            <v-icon class="mr-2">{{ item.icon }}</v-icon>
            <v-list-item-title style="font-family: 'Iowan Old Style'">{{
                item.title
              }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>



      <v-btn
        v-if="this.$store.getters['cognito/isLoggedIn']"
        color="blue darken-3"
        large
        text
        @click="pushDashboard()"
      >
        <span style="font-family: 'Iowan Old Style'" class="font-weight-bold">
          Dashboard
        </span>
      </v-btn>

    </v-toolbar-items>

    <v-spacer></v-spacer>



    <div v-if="!this.$store.getters['cognito/isLoggedIn']">
      <v-btn color="blue darken-3"
               class="mr-3"
               @click="pushSignIn()"
               outlined
               small
        >
            <span style="font-family: 'Iowan Old Style'" class="font-weight-bold">
              Login/Sign-Up
            </span>

        </v-btn>
      </div>
      <div v-else>
        <v-btn color="blue darken-3"
                 class="mr-3"
                 @click="submit()"
                 outlined
                 small
          >
              <span style="font-family: 'Iowan Old Style'" class="font-weight-bold">
                Logout
              </span>

          </v-btn>
        </div>



    <v-menu class="hidden-lg-and-up" offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          dark
          icon
          v-bind="attrs"
          v-on="on"
          class="hidden-lg-and-up"
        >

          <v-icon
            color="blue darken-3"
          >
            mdi-menu
          </v-icon>

        </v-btn>
      </template>

      <v-list
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :icon="item.icon"
          router
          :to="item.route"
        >
          <v-icon class="mr-2">{{ item.icon }}</v-icon>
          <v-list-item-title style="font-family: 'Iowan Old Style'">{{
            item.title
          }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import { mapActions, mapMutations } from "vuex";

export default {
  name: "AppBar",
  data: () => ({
    barMenu: [
      {
        icon: "mdi-information",
        title: "About the Project",
        route: "/project",
      },
      { icon: "mdi-magnify",
        title: "Search the Database",
        route: "/search",
      },
      {
        icon: "mdi-transcribe",
        title: "Transcribing and the Database",
        route: "/transcription",
      },
      {
        icon: "mdi-feather",
        title: "Ledger Basics",
        route: "/ledgers",
      },
      {
        icon: "mdi-note",
        title: "Acknowledgements",
        route: "/acknowledgements",
      },
      {
        icon: "mdi-file-find-outline",
        title: "Transcripts",
        route: "/transcripts",
      },
    ],

    items: [
      {
        icon: "mdi-information",
        title: "About History Revealed",
        route: "/about",
      },
      {
        icon: "mdi-information",
        title: "The Shopping Stories Project",
        route: "/project",
      },
      { icon: "mdi-magnify",
        title: "Search the Database",
        route: "/search",
      },
      {
        icon: "mdi-transcribe",
        title: "Transcribing and the Database",
        route: "/transcription",
      },
      {
        icon: "mdi-feather",
        title: "Ledger Basics",
        route: "/ledgers",
      },
      {
        icon: "mdi-note",
        title: "Acknowledgements",
        route: "/acknowledgements",
      },
      {
        icon: "mdi-information",
        title: "User Dashboard",
        route: "/dashboard",
      },
    ],
    signedInBoolean: false,

  }),

  methods: {
    clickMethod() {
      this.$router.push({ name: "Home" }).catch(err => {console.log("Redundant Navigation, error: " + err)})
    },
    pushAbout() {
      this.$router.push({ name: "About" }).catch(err => {console.log("Redundant Navigation, error: " + err)})
    },
    pushDashboard() {
      this.$router.push({ name: "Dashboard" }).catch(err => {console.log("Redundant Navigation, error: " + err)})
    },
    pushSignIn() {
      this.$router.push({ name: "Signin" }).catch(err => {console.log("Redundant Navigation, error: " + err)})
    },
    openTwitter() {
      window.open("https://twitter.com/History_Reveal", "_blank");
    },
    openFacebook() {
      window.open("https://www.facebook.com/HistoryReveal/", "_blank");
    },
    openInstagram() {
      window.open("https://www.instagram.com/history_reveal/", "_blank");
    },
    isSignedIn() {
      this.$store.getters['cognito/isLoggedIn'].catch(err => {console.log("this is an error",err)})
    },


    ...mapActions("cognito", ["signOut"]),
    ...mapMutations(["setIsLoading", "setSnackbar"]),

    submit() {
      this.isLoading = true;

      this.signOut().finally(() => {
        this.isLoading = false;
        this.$router.push({ name: "Signin" }).catch(err => {console.log("Redundant Navigation, error: " + err)});
        this.setSnackbar({
          type: "success",
          msg: `Successfully signed out!`,
        });
      });
    },
  },
};
</script>
