<template>
  <v-card class="mx-auto" width="55vw" elevation="4">
    <!-- Tabs -->
    <v-tabs
      v-model="tab"
      align-with-title
      background-color="secondary"
      dark
    >
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab
        v-for="item in items"
        :key="item"
        @click="reveal = false"
      >
        {{ item }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <!-- shoppingstories Bucket -->
      <v-tab-item>
      <v-card>

        <v-card-title>
        File Management

        <v-btn
          @click="uploadItem"
          text
        >
          <v-icon color="secondary" style="pb-1" medium> {{ uploadIcon }} </v-icon>
        </v-btn>
        <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            label="Search (UPPER CASE ONLY)"
            class="mx-4"
            color="secondary"
            single-line
            hide-details
            append-icon="mdi-magnify"
          ></v-text-field>
          <v-btn
            @click="refresh"
            text
            :loading="loadingButton"
          >
            <v-icon color="secondary" style="pb-1" medium> {{ refreshIcon }} </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-subtitle> Manage S3 Bucket Content for Database Files </v-card-subtitle>
          <v-data-table
            :headers="headers"
            :items="payload"
            item-key="name"
            class="elevation-1"
            :loading="isLoading"
            :search="search"
            :custom-filter="filterOnlyCapsText"
          >
          <template v-slot:top>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary " text @click="closeDelete">Cancel</v-btn>
                <v-btn color="red darken-1" text @click="deleteItemConfirm">Delete</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Upload Dialog -->
          <v-dialog v-model="dialogUpload" max-width="700px">
            <v-card>
              <v-card-title class="headline mb-3">Select the file you wish to upload.</v-card-title>
              <v-card-subtitle> This file will upload straight to the S3 bucket without being imported in the Neo4j database. If you would like to upload the contents of this file into the database, please use the Import feature found in the 'Import' tab on the Dashboard.</v-card-subtitle>
              <v-container>
              <v-file-input
                show-size
                placeholder="Select a file to upload"
                solo
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                type="file"
                v-model="file"
              >
                <template v-slot:selection="{ text }">
                  <v-chip
                    medium
                    label
                    color="secondary"
                  >
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
              </v-container>
              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn @click="uploadFile">
                  Upload
                  <v-icon
                  right
                  color="secondary"
                >
                  mdi-cloud-upload
                </v-icon>
              </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          </template>

          <v-progress-linear
            v-show="isLoading"
            slot="progress"
            color="secondary"
            indeterminate
          >
          </v-progress-linear>
          <template v-slot:item.actions="{ item }">
          <v-row>
          <v-col>
            <v-icon
              small
              color="secondary"
              @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
            </v-col>
            <v-col>
            <v-icon
              small
              color="secondary"
              @click="downloadItem(item)"
            >
              mdi-cloud-download-outline
            </v-icon>
            </v-col>
            </v-row>
          </template>
        </v-data-table>
      </v-card>
      </v-tab-item>

      <!-- ss-documents Bucket -->
      <v-tab-item>
      <v-card>

        <v-card-title>
        File Management

        <v-btn
          @click="uploadItemDocuments"
          text
        >
          <v-icon color="secondary" style="pb-1" medium> {{ uploadIcon }} </v-icon>
        </v-btn>
        <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            label="Search (UPPER CASE ONLY)"
            class="mx-4"
            color="secondary"
            single-line
            hide-details
            append-icon="mdi-magnify"
          ></v-text-field>
          <v-btn
            @click="refresh"
            text
            :loading="loadingButton"
          >
            <v-icon color="secondary" style="pb-1" medium> {{ refreshIcon }} </v-icon>
          </v-btn>
        </v-card-title>
        <v-card-subtitle> Manage S3 Bucket Content for User Downloads </v-card-subtitle>
          <v-data-table
            :headers="headers"
            :items="documentPayload"
            item-key="name"
            class="elevation-1"
            :loading="isLoading"
            :search="search"
            :custom-filter="filterOnlyCapsText"
          >
          <template v-slot:top>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDeleteDocuments" max-width="500px">
            <v-card>
              <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary " text @click="closeDeleteDocuments">Cancel</v-btn>
                <v-btn color="red darken-1" text @click="deleteItemConfirmDocuments">Delete</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Upload Dialog -->
          <v-dialog v-model="dialogUploadDocuments" max-width="700px">
            <v-card>
              <v-card-title class="headline">Select the file you wish to upload.</v-card-title>
              <v-card-subtitle> This file will be uploaded to the S3 Bucket, where it will then be downloadable for users and visitors.</v-card-subtitle>
              <v-container>
              <v-file-input
                show-size
                placeholder="Select a file to upload"
                solo
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                type="file"
                v-model="file"
              >
                <template v-slot:selection="{ text }">
                  <v-chip
                    medium
                    label
                    color="secondary"
                  >
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
              </v-container>
              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn @click="uploadFileDocuments">
                  Upload
                  <v-icon
                  right
                  color="secondary"
                >
                  mdi-cloud-upload
                </v-icon>
              </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
          </template>

          <v-progress-linear
            v-show="isLoading"
            slot="progress"
            color="secondary"
            indeterminate
          >
          </v-progress-linear>
          <template v-slot:item.actions="{ item }">
          <v-row>
          <v-col>
            <v-icon
              small
              color="secondary"
              @click="deleteItemDocuments(item)"
            >
              mdi-delete
            </v-icon>
            </v-col>
            <v-col>
            <v-icon
              small
              color="secondary"
              @click="downloadItemDocuments(item)"
            >
              mdi-cloud-download-outline
            </v-icon>
            </v-col>
            </v-row>
          </template>
        </v-data-table>
      </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import { HTTP } from '../services/http-common'
import { mapMutations } from 'vuex'

export default {
  name: "Search",

  methods: {
    ...mapMutations(["setSnackbar"]),

    // Retrieves all the files in the S3 bucket for user documents
    getDocumentsPayload() {

      const bucket = 'ss-documents'
      HTTP.get('import/files', {params: { bucket: bucket }})
      .then((response) => {
        // grab message payload
        this.documentPayload = response.data.message
      })
      .catch((e) => {
        console.log(e)
        // alert user of error
        this.setSnackbar({
          type: "error",
          msg: 'Error: Unable to retrieve files',
          timeout: 20000,
        })
      })
      .finally(() => {
        this.isLoading = false;
      })
    },

    // Retrieves all the files in the S3 bucket for import documents
    getPayload() {
      const bucket = 'shoppingstories'
      HTTP.get('import/files', {params: { bucket: bucket }})
      .then((response) => {
        // grab message payload
        this.payload = response.data.message
      })
      .catch((e) => {
        console.log(e)
        // alert user of error
        this.setSnackbar({
          type: "error",
          msg: 'Error: Unable to retrieve files',
          timeout: 20000,
        })
      })
      .finally(() => {
        this.isLoading = false;
      })

    },
    // filters results via user input
    filterOnlyCapsText (value, search) {
      return value != null &&
      search != null &&
      typeof value === 'string' &&
      value.toString().toLocaleUpperCase().indexOf(search) !== -1
    },

    refresh() {
      this.loadingButton = true;
      this.getPayload()
      this.getDocumentsPayload()

      // to alert user of action
      setTimeout(() => {
        this.loadingButton = false;
      }, 500)
    },

    // Grabs item to be deleted and
    // opens dialog box for confirmation
    deleteItem(item) {
      this.editedIndex = this.payload.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    // Grabs item to be deleted and
    // opens dialog box for confirmation
    deleteItemDocuments(item) {
      this.editedIndex = this.payload.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDeleteDocuments = true
    },

    // Deletes item from S3 bucket
    deleteItemConfirm () {
      this.payload.splice(this.editedIndex, 1)

      HTTP.delete('import/file', {params: {filename: this.editedItem.file}})
      .then((response) => {
        if (response.status == '200') {
          this.setSnackbar({
            type: "success",
            msg: 'Successfully deleted ' + this.editedItem.file,
            timeout: 5000,
          })
        }

        else if (response.status == '300') {
          this.setSnackbar({
            type: "warning",
            msg: 'File ' + this.editedItem.file + ' does not exist',
            timeout: 5000,
          })
        }
      })
      .catch((err) => {
        console.log('Failed deleteItemConfirm: ', err)
        this.setSnackbar({
          type: "error",
          msg: 'Unable to delete file',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.closeDelete()
        this.refresh()
      })
    },

    // Deletes item from S3 bucket
    deleteItemConfirmDocuments () {
      this.payload.splice(this.editedIndex, 1)

      HTTP.delete('import/file/documents', {params: {filename: this.editedItem.file}})
      .then((response) => {
        if (response.status == '200') {
          this.setSnackbar({
            type: "success",
            msg: 'Successfully deleted ' + this.editedItem.file,
            timeout: 5000,
          })
        }

        else if (response.status == '300') {
          this.setSnackbar({
            type: "warning",
            msg: 'File ' + this.editedItem.file + ' does not exist',
            timeout: 5000,
          })
        }
      })
      .catch((err) => {
        console.log('Failed deleteItemConfirmDocuments: ', err)
        this.setSnackbar({
          type: "error",
          msg: 'Unable to delete file',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.closeDeleteDocuments()
        this.refresh()
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDeleteDocuments () {
      this.dialogDeleteDocuments = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    // downloads item from S3 bucket
    downloadItem(item) {
      this.editedIndex = this.payload.indexOf(item)
      this.editedItem = Object.assign({}, item)
      HTTP.get('import/file/download', {responseType: 'blob',  params: {filename: this.editedItem.file}} )
      .then((response) => {
        console.log("response: ", response)
        const url = URL.createObjectURL(new Blob([response.data], {
            type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        }))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', this.editedItem.file)
        document.body.appendChild(link)
        link.click()
        if (response.status == '200') {
          this.setSnackbar({
            type: "success",
            msg: 'Downloading ' + this.editedItem.file,
            timeout: 5000,
          })
        }

        else if (response.status == '300') {
          this.setSnackbar({
            type: "warning",
            msg: 'File ' + this.editedItem.file + ' does not exist',
            timeout: 5000,
          })
        }
      })
      .catch((err) => {
        console.log('Failed downloadItemConfirm: ', err)
        this.setSnackbar({
          type: "error",
          msg: 'Unable to download file',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.dialogUpload = false
        this.refresh()
      })
    },

    // downloads item from S3 bucket
    downloadItemDocuments(item) {
      this.editedIndex = this.payload.indexOf(item)
      this.editedItem = Object.assign({}, item)
      HTTP.get('import/file/download/documents', {responseType: 'blob',  params: {filename: this.editedItem.file}} )
      .then((response) => {
        console.log("response: ", response)
        const url = URL.createObjectURL(new Blob([response.data], {
            type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        }))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', this.editedItem.file)
        document.body.appendChild(link)
        link.click()
        if (response.status == '200') {
          this.setSnackbar({
            type: "success",
            msg: 'Downloading ' + this.editedItem.file,
            timeout: 5000,
          })
        }

        else if (response.status == '300') {
          this.setSnackbar({
            type: "warning",
            msg: 'File ' + this.editedItem.file + ' does not exist',
            timeout: 5000,
          })
        }
      })
      .catch((err) => {
        console.log('Failed downloadItemConfirmDocuments: ', err)
        this.setSnackbar({
          type: "error",
          msg: 'Unable to download file',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.dialogUploadDocuments = false
        this.refresh()
      })
    },

    // do this again for documents
    async checkFile() {
      await HTTP.post('import/filecheck', {name: this.filename, bucket: this.bucket})
      .then((response) => {
        this.exists = response.data.value;
      })
      .catch((err) => {
        console.log("filecheck error: ", err)
      })
    },

    // used to upload the users file to the server,
    // parse it, and import it into the database.
    async uploadFile() {

      // check file
      if (!this.file) {
        this.setSnackbar({
          type: "warning",
          msg: "Please select file to upload",
          timeout: 5000,
        });
        return;
      }

      // checking if file type is correct
      else if (this.file['type'] !== 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' && this.file['type'] !== '.csv' && this.file['type'] !== 'application/vnd.ms-excel') {
        this.setSnackbar({
          type: "warning",
          msg: "That file type is not supported (.xlsx, .xls, .csv files only)",
          timeout: 5000,
        });
        return;
      }

      this.bucket = 'shoppingstories'

      // check if file already exists
      this.filename = this.file.name
      await this.checkFile();

      if (this.exists) {
       this.loader = null
       this.loading = false
       this.setSnackbar({
         type: "error",
         msg: "Error: that file has already been uploaded. Try another.",
         timeout: 5000,
       });
       return;
      }

      // creates new form for API request
      let formData = new FormData();
      formData.set(name, this.file.name)
      formData.append('file', this.file);

      // axios call to proper endpoint
      HTTP.put('/import/file/upload', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then((response) => {
        if (response.status == 200) {
          this.setSnackbar({
            type: "success",
            msg: "File successfully uploaded!",
          })
        }
      })
      .catch(() => {
        this.error = true;
        this.setSnackbar({
          type: "error",
          msg: 'Error! Could not upload file, try again.',
          timeout: 10000,
        });
      })
      .finally(() => {
        this.file = null;
      });
    },


    async uploadFileDocuments() {

      // check file
      if (!this.file) {
        this.setSnackbar({
          type: "warning",
          msg: "Please select file to upload",
          timeout: 5000,
        });
        return;
      }

      // check if file already exists
      this.filename = this.file.name
      this.bucket = 'ss-documents'
      await this.checkFile();

      if (this.exists) {
       this.loader = null
       this.loading = false
       this.setSnackbar({
         type: "error",
         msg: "Error: that file has already been uploaded. Try another.",
         timeout: 5000,
       });
       return;
      }

      // creates new form for API request
      let formData = new FormData();
      formData.set(name, this.file.name)
      formData.append('file', this.file);

      // axios call to proper endpoint
      HTTP.put('/import/upload/documents', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then((response) => {
        if (response.status == 200) {
          this.setSnackbar({
            type: "success",
            msg: "File successfully uploaded!",
          })
        }
      })
      .catch(() => {
        this.error = true;
        this.setSnackbar({
          type: "error",
          msg: 'Error! Could not upload file, try again.',
          timeout: 10000,
        });
      })
      .finally(() => {
        this.file = null;
      });
    },

    closeUpload() {
      this.dialogUpload = false
      this.refresh()
    },

    closeUploadDocuments() {
      this.dialogUploadDocuments = false
      this.refresh()
    },

    uploadItem() {
      this.dialogUpload = true
    },

    uploadItemDocuments() {
      this.dialogUploadDocuments = true
    },
  },

  data() {
      return {

      // For populating data tables
      tab: null,
      items: [
        'Data Files', 'User Files',
      ],



      bucket: '',
      uploadIcon: 'mdi-cloud-upload-outline',
      file: null,
      value: '',
      isLoading: false,
      loader: null,

      documentPayload: [],
      payload: [],

      search: '',
      loadingButton: false,
      refreshIcon: 'mdi-refresh',

      dialogDelete: false,
      dialogUpload: false,
      dialogDeleteDocuments: false,
      dialogUploadDocuments: false,
      editedItem: {
        file: '',
        time: '',
      },
      defaultItem: {
        file: '',
        time: '',
      },
      editedIndex: -1,
    };
  },

  computed: {
    headers() {
      return [
        {
          text: "File Name",
          align: "start",
          sortable: false,
          value: 'file',
        },
        { text: "Uploaded", value: "time" },
        { text: 'Actions', value: 'actions', sortable: false },
      ]
    },
  },

  watch: {
    loader () {
      const l = this.loader
      this.[l] = !this.[l]
      setTimeout(() => (this[l] = false), 1500)
      this.loader = null
    },

    dialogDelete (val) {
      val || this.closeDelete()
    },

    dialogDeleteDocuments (val) {
      val || this.closeDeleteDocuments
    },

    dialogUpload (val) {
      val || this.closeUpload()
    },

    dialogUploadDocuments (val) {
      val || this.closeUploadDocuments()
    },
  },

  created() {
    this.isLoading = true;
    this.getPayload()
    this.getDocumentsPayload()
  },
};
</script>
