<template>
  <v-card
    max-width="45vw"
    class="mx-auto"
    outlined
    shaped
    elevation="4"
  >
    <v-card-text class="justify-center"
      elevation="2"
    >
    <h1> View the Documentation! </h1>
    <br>

    <p> The documentation lives in and is hosted by AWS S3. This ensures the documentation stays live if anything ever happens to the
    website or the server. The link for the documentation is <a style="color: #1565C0" href="http://docs.shoppingstories.org">docs.shoppingstories.org</a>. </p>
    <br>

    <v-card-actions  class="justify-center mx-auto mt-5">
    <v-btn
      @click="submit()"
      elevation="2"
      color="secondary"
    > View Docs!
    </v-btn>
    </v-card-actions>

    </v-card-text>
  </v-card>
</template>

<script>
export default {

  methods: {
    submit() {
      window.open('http://docs.shoppingstories.org/')
    }
  }

};
</script>

<style>
p {
  font-family: "Iowan Old Style";
  font-size: 18px;
}

a {
  color: #1565C0;
}

a:hover {
  color: #1565C0;
}

</style>
