<template>
  <!-- Cam: still working on this -->

  <v-footer class="d-flex flex-wrap justify-center ml-5 mr-5" color="white">

    <v-btn @click="openFacebook()" icon color="blue darken-4" class="mr-3">
      <v-icon>mdi-facebook</v-icon>
    </v-btn>

    <v-btn @click="openInstagram()" icon color="blue darken-4" class="mr-3">
      <v-icon>mdi-instagram</v-icon>
    </v-btn>

    <v-btn @click="openTwitter()" icon color="blue darken-4" class="mr-3">
      <v-icon>mdi-twitter</v-icon>
    </v-btn>

    <v-card flat>
      <v-btn color="black" text rounded href="https://www.historyrevealed.co/contact" target="_blank">
        Contact
      </v-btn>

      <v-btn color="black" text rounded :to="{name: 'About'}">
        About
      </v-btn>

      <v-btn color="black" text rounded :to="{name: 'Team'}">
        Meet the Team
      </v-btn>

    </v-card>
    <v-spacer></v-spacer>
    <v-card flat>
      © {{ new Date().getFullYear() }} —
      <strong>History Revealed, Inc. </strong>
      <span>All rights reserved.</span>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({

  }),

  methods: {
    openTwitter() {
      window.open("https://twitter.com/History_Reveal", "_blank");
    },
    openFacebook() {
      window.open("https://www.facebook.com/HistoryReveal/", "_blank");

    },
    openInstagram() {
      window.open("https://www.instagram.com/history_reveal/", "_blank");

    },
  },
};
</script>
<style scoped>
</style>
