<template>
<v-container>
  <v-card class="mt-16 mx-auto pa-10" width="40vw" elevation="4">
    <v-card-title>Data Import</v-card-title>
    <v-card-subtitle> Import Excel Files & Select Type </v-card-subtitle>
    <v-container class="pa-10">
      <v-file-input
        show-size
        placeholder="Select a file to upload"
        solo
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        type="file"
        v-model="file"
      >
        <template v-slot:selection="{ text }">
          <v-chip
            medium
            label
            color="secondary"
          >
            {{ text }}
          </v-chip>
        </template>
      </v-file-input>
      <v-select
        v-model="selectVal"
        :items="items"
        solo
        placeholder="Select an upload type"
        :prepend-icon="selectVal ? 'mdi-check' : 'mdi-select'"
      ></v-select>
    </v-container>
    <v-card-actions class="ma-5 mt-0 justify-center">
      <v-btn
        :loading="loading"
        :disabled="loading"
        @click="uploadFile()"
      >
        Upload {{ selectVal }}
        <v-icon
          right
          color="secondary"
        >
          mdi-cloud-upload
        </v-icon>
      </v-btn>
    </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { HTTP } from '../services/http-common';
import { mapMutations } from "vuex";

export default {

  methods: {
    ...mapMutations(["setSnackbar"]),


    async checkFile() {
      await HTTP.post('import/filecheck', {name: this.filename, bucket: 'shoppingstories'})
      .then((response) => {
        this.exists = response.data.value;
      })
      .catch((err) => {
        console.log("filecheck error: ", err)
      })
    },

    // used to upload the users file to the server,
    // parse it, and import it into the database.
    async uploadFile() {

      // check file
      if (!this.file) {
        this.setSnackbar({
          type: "warning",
          msg: "Please select file to upload",
          timeout: 5000,
        });
        return;
      }

      // check upload type selection
      else if (!this.selectVal) {
        this.setSnackbar({
          type: "warning",
          msg: "Please select upload type",
          timeout: 5000,
        });
        return;
      }

      // checking if file type is correct
      else if (this.file['type'] !== 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' && this.file['type'] !== '.csv' && this.file['type'] !== 'application/vnd.ms-excel') {
        this.setSnackbar({
          type: "warning",
          msg: "That file type is not supported (.xlsx, .xls, .csv files only)",
          timeout: 5000,
        });
        return;
      }

      // set loading
      this.loader = 'loading'

      // check if file already exists
      this.filename = this.file.name
      await this.checkFile();

      if (this.exists) {
       this.loader = null
       this.loading = false
       this.setSnackbar({
         type: "error",
         msg: "Error: that file has already been uploaded. Try another.",
         timeout: 5000,
       });
       return;
      }

      // creates new form for API request
      let formData = new FormData();
      formData.set(name, this.file.name)
      formData.append('file', this.file);
      const selection = this.selectVal.toLowerCase()

      // axios call to proper endpoint
      HTTP.put('/import/' + selection, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      .then((response) => {

        if (response.status == 200) {
          this.setSnackbar({
            type: "success",
            msg: "File successfully uploaded!",
          })
        }
        else if (response.status == 201) {
          this.setSnackbar({
            type: "error",
            msg: "Unable to parse file! Syntax Error: " + response.data,
            timeout: 20000,
          })
        }
        else if (response.status == 202) {
          this.setSnackbar({
            type: "error",
            msg: "Unable to parse file: " + response.data,
            timeout: 20000,
          })
        }
      })
      .catch(() => {
        this.error = true;
        this.setSnackbar({
          type: "error",
          msg: this.snackbarMSG(),
          timeout: 10000,
        });
      })
      .finally(() => {
        this.file = null;
        this.selectVal = null;
        this.loading = false
        this.loader = null
      });
    },

    // returns the snackbar message being used
    snackbarMSG() {
      if (this.error)
        return "There seems to be an error with the file. Please check for any misplaced commas.";

      return "File successfully uploaded";
    },
  },

  data: () => ({
    // Determines the parser to use
    selectVal: undefined,

    // Controls when to show the snackbar
    displaySnackbar: false,

    // Controls the loading icon
    upload: false,

    // Controls what color to show for the snackbar
    error: false,

    // list of different parsers available.
    items: ["Master", "Transactions"],

    file: null,
    filename: null,

    loader: null,
    loading: false,
  }),

  watch: {
    loader () {
      const l = this.loader
      this.[l] = !this.[l]
    },
  },
};
</script>

<style>
</style>
