<template>
  <v-card class="mt-16 mx-auto pa-10" width="55vw" elevation="4">
    <v-card-text>

      <!-- Name -->
      <v-row class="justify-center mx-auto">
        <p class="display-2 text--primary">
          {{ name }}
        </p>
      </v-row>

      <v-row class="justify-center mx-auto">
        <!-- Update Email -->
        <v-dialog
         v-model="clickUpdateEmail"
         max-width="500"
        >
         <template v-slot:activator="{ on, attrs }">
          <v-btn
            text
            color="secondary"
            v-bind="attrs"
            v-on="on"
          >
            Update Email
          </v-btn>
         </template>
         <v-card>
           <v-card-title class="headline">
             Update {{ name }}'s Email
           </v-card-title>
           <v-card-text>Please confirm the new email to update with:
           </v-card-text>
           <v-text-field
             v-model="newEmail"
             class="pa-5"
             color="secondary"
             label="Update Email"
             :rules="rules.email"
             required
           >
           </v-text-field>
           <v-card-actions>
             <v-spacer></v-spacer>
             <v-btn
               color="grey darken-1"
               text
               @click="clickUpdateEmail = false"
             >
               Cancel
             </v-btn>
             <v-btn
               text
               color="secondary accent-1"
               @click="changeEmail"
             >
               Change Email
             </v-btn>
           </v-card-actions>
         </v-card>
        </v-dialog>

        <!-- Verify Email -->
        <v-dialog
         v-if="verified === 'false'"
         v-model="clickVerifyEmail"
         max-width="500"
        >
         <template v-slot:activator="{ on, attrs }">
          <v-btn
            text
            color="secondary"
            v-bind="attrs"
            v-on="on"
          >
            Verify Email
          </v-btn>
         </template>
         <v-card>
           <v-card-title class="headline">
             Verify {{ name }}'s Email
           </v-card-title>
           <v-card-text>Please enter the verification code sent to your email address on file.
           </v-card-text>
           <v-text-field
             v-model="verificationCode"
             class="pa-5"
             color="secondary"
             label="Enter Verification Code"
             required
           >
           </v-text-field>
           <v-card-actions>
             <v-spacer></v-spacer>
             <v-btn
               color="grey darken-1"
               text
               @click="clickVerifyEmail = false"
             >
               Cancel
             </v-btn>
             <v-btn
              color="grey darken-1"
              text
              @click="resendCode"
             >
              Resend Code
             </v-btn>

             <v-btn
               text
               color="secondary accent-1"
               @click="verifyEmail"
             >
               Verify Email
             </v-btn>
           </v-card-actions>
         </v-card>
        </v-dialog>

        <!-- Change password -->
        <v-dialog
         v-model="clickUpdatePassword"
         max-width="500"
        >
         <template v-slot:activator="{ on, attrs }">
          <v-btn
            text
            color="secondary"
            v-bind="attrs"
            v-on="on"
          >
            Update Password
          </v-btn>
         </template>
         <v-card>
           <v-card-title class="headline">
             Update {{ name }}'s Password
           </v-card-title>
           <v-card-text>Please confirm your current password:
           </v-card-text>
           <v-text-field
             v-model="oldPassword"
             :type="viewPassword ? 'password' : 'text'"
             :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
             @click:append="viewPassword = !viewPassword"
             class="pa-5"
             color="secondary"
             label="Current Password"
             :rules="rules.password"
             required
             counter
           >
           </v-text-field>

           <v-card-text>Please confirm the new password to update with:
           </v-card-text>
           <v-text-field
             v-model="newPassword"
             :type="viewPassword ? 'password' : 'text'"
             :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
             @click:append="viewPassword = !viewPassword"
             class="pa-5"
             color="secondary"
             label="New Password"
             :rules="rules.password"
             required
             counter
           >
           </v-text-field>
           <v-text-field
             v-model="confirmPassword"
             :type="viewPassword ? 'password' : 'text'"
             :append-icon="viewPassword ? 'mdi-eye-off' : 'mdi-eye'"
             @click:append="viewPassword = !viewPassword"
             class="pa-5"
             color="secondary"
             label="Confirm Password"
             :rules="[newPassword === confirmPassword || 'Password must match']"
             required
             counter
           >
           </v-text-field>
           <v-card-actions>
             <v-spacer></v-spacer>
             <v-btn
               color="grey darken-1"
               text
               @click="clickUpdatePassword = false"
             >
               Cancel
             </v-btn>
             <v-btn
               text
               color="secondary accent-1"
               @click="changePassword"
             >
               Change Password
             </v-btn>
           </v-card-actions>
         </v-card>
        </v-dialog>


        <!-- Delete Account -->
        <v-dialog
         v-model="dialog"
         max-width="290"
        >
         <template v-slot:activator="{ on, attrs }">
          <v-btn
            text
            color="red"

            v-bind="attrs"
            v-on="on"
          >
            Delete My Account
          </v-btn>
         </template>
         <v-card>
           <v-card-title class="headline">
             Delete Account
           </v-card-title>
           <v-card-text>Are you sure you want to delete your account? This action is permanent.
           </v-card-text>
           <v-card-actions>
             <v-spacer></v-spacer>
             <v-btn
               color="secondary darken-1"
               text
               @click="dialog = false"
             >
               Close
             </v-btn>
             <v-btn
               color="red darken-1"
               text
               @click="deleteUser"
             >
               Delete
             </v-btn>
           </v-card-actions>
         </v-card>
        </v-dialog>
      </v-row>

      <!-- Username -->
      <v-row class="justify-center pt-3">
       <p><b>Username: </b>{{ username}} </p>
      </v-row>

      <!-- Email & Verified -->
      <v-row v-if="verified === 'true'" class="justify-center">
        <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
          <p><b>Email: </b>{{ email }}</p>
        </v-col>
        <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
          <p style="color:green;">Verified
          <v-icon color="green" style="pb-1" medium>{{ icon }} </v-icon>
          </p>
        </v-col>
      </v-row>
      <v-row v-else class="justify-center">
        <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
         <p><b>Email: </b>{{ email }}</p>
        </v-col>
        <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
         <p style="color:red"> Not Verified
         <v-icon color="red" style="pb-1" medium>{{ icon }} </v-icon>
         </p>
        </v-col>
      </v-row>

      <!-- Groups -->
      <v-row v-if="showGroup" class="justify-center">
       <p><b>Groups: </b>{{ groups }} </p>
      </v-row>


    </v-card-text>
  </v-card>
</template>

<script>
import { HTTP } from '../services/http-common'
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  methods: {
    ...mapActions("cognito", ["changePassword", 'resendConfirmation'], ["signOut"], ["resendConfirmation"]),
    ...mapMutations(["setSnackbar", "setEmail", "setPassword", "setUsername",]),
    ...mapState(['email','username']),

    async fetchUserInfo() {
      // grab the group from Cognito
      const getToken = await this.$store.dispatch('cognito/fetchJwtToken')
      await HTTP.patch('cognito/user/self', {token: getToken.toString()})
      .then((response) => {
        this.username = response.data.Username;
        this.status = response.data.UserStatus;
        this.verified = response.data.UserAttributes[1].Value
        this.email = response.data.UserAttributes[3].Value
        this.name = response.data.UserAttributes[2].Value

        // set verified
        if (this.verified == 'true') {
          this.icon = 'mdi-check'
        }
        else {
          this.icon = 'mdi-alert-circle'
        }

        const groupID = this.$store.getters['cognito/userGroups'];
        if (groupID[0]) {
          this.showGroup = true;
          this.groups = groupID[0]
        }
      })
      .catch((err) => {
        console.log(err)
      })
    },

    async deleteUser() {
      const getToken = await this.$store.dispatch('cognito/fetchJwtToken')
      HTTP.patch('cognito/user/self/delete', {token: getToken.toString()})
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: 'Successfully deleted account!',
          timeout: 5000,
        })
        this.$store.dispatch('cognito/signOut')
        this.$router.push({ name: "Signin" })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not delete account. Try again later',
          timeout: 5000,
        })
      })
    },

    // Updates the email of the selected user
    // to the new email provided by Admin
    async changeEmail() {
      const getToken = await this.$store.dispatch('cognito/fetchJwtToken')
      HTTP.patch('cognito/user/attributes',
      {
        username: this.selectedUsername,
        token: getToken.toString(),
        attributes: [
        {
          Name: 'email',
          Value: this.newEmail
        }]
      })
      .then(() => {
        this.email = this.newEmail
        this.setSnackbar({
          type: "success",
          msg: 'Successfully updated email to ' + this.newEmail,
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not update email. Try again later',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.clickUpdateEmail = false
        this.fetchUserInfo();
      })
    },

    // Updates password
    async changePassword() {
      const getToken = await this.$store.dispatch('cognito/fetchJwtToken')
      HTTP.patch('cognito/user/password',
      {
        previous: this.oldPassword,
        token: getToken.toString(),
        proposed: this.newPassword
      })
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: 'Successfully changed password!',
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not update password. Try again.',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.clickUpdatePassword = false
        this.fetchUserInfo();
      })
    },

    async verifyEmail() {
      const token = await this.$store.dispatch('cognito/fetchJwtToken')
      const email = this.email
      const code = this.verificationCode

      HTTP.patch('cognito/verify/email', {token: token.toString(), email: email, code: code})
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: 'Successfully verified email!',
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not verify code. Try again.',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.clickVerifyEmail = false
        this.fetchUserInfo();
      })
    },

    async resendCode() {
      const token = await this.$store.dispatch('cognito/fetchJwtToken')
      HTTP.patch('cognito/resend', {token: token.toString()})
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: 'Successfully resent email verification code!',
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not send code. Try again.',
          timeout: 5000,
        })
      })
    },
  },


  data: () => ({
    user: "",
    name: '',
    status: '',
    verified: '',
    groups: '',
    createDate: '',
    icon: '',
    refreshIcon: 'mdi-refresh',
    loadingButton: false,
    dialog: false,
    newEmail: '',
    clickUpdateEmail: false,
    clickVerifyEmail: false,
    verificationCode: '',
    showGroup: false,
    clickUpdatePassword: false,
    confirmPassword: '',
    newPassword: '',
    oldPassword: '',
    viewPassword: true,
    confirmEmail: '',
    isConfirmed: true,



    // Rules for each element
    rules: {
      username: [
        (v) => !!v || "Username is required",
        (v) =>
          /^[A-Za-z]+$/.test(v) ||
          "Name can't contain numbers or special chars.", // numbers are actually okay but this is fine for now
      ],
      email: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      password: [
        (v) => !!v || "Password is required",
        (v) => /(?=.*[0-9])/.test(v) || "Password must contain a number", // Checking for at least one number
        (v) =>
          /(?=.*[A-Z])/.test(v) || "Password must contain a uppercase letter", // Checking for at least one uppercase letter
        (v) =>
          /(?=.*[a-z])/.test(v) || "Password must contain a lowercase letter", // Checking for at least one lowercase letter
        (v) =>
          /(?=.*[@#$%^&*!])/.test(v) ||
          "Password must contain a special character", // Checking for at least one special character
        (v) => v.length > 7 || "Password must have 8 or more characters",
      ],
    },




    reveal: '',
  }),

  created() {
    this.fetchUserInfo();
  }

};
</script>

<style>
</style>
