<template>
  <v-card width="75vw" class="mx-auto" elevation="4" color="secondary">
  <v-card-title class="white--text text-decoration-underline justify-center"> Cognito User Management </v-card-title>
    <!-- Tabs -->
    <v-tabs
      v-model="tab"
      align-with-title
      background-color="secondary"
      dark
    >
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab
        v-for="item in items"
        :key="item"
        @click="reveal = false"
      >
        {{ item }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <!-- All users tab -->
      <v-tab-item>
        <v-card class="mt-0 mx-auto pa-10" width="75vw" >
        <v-card-title> All Users
        <v-btn
          @click="refreshUser"
          :loading=loadingButton
          text
        >
          <v-icon color="secondary"  style="pb-1" medium>{{ refreshIcon }} </v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          label="Search (UPPER CASE ONLY)"
          class="mx-4"
          color="secondary"
          single-line
          hide-details
          append-icon="mdi-magnify"
        ></v-text-field>
        </v-card-title>
        <v-card-subtitle> Edit User Attributes and Groups </v-card-subtitle>
          <!-- All users data table -->
          <v-container class="pa-1" width="75vw">
            <v-data-table
              :headers="headersUser"
              :items="userPayload"
              item-key="name"
              class="elevation-1"
              :search="search"
              :custom-filter="filterOnlyCapsText"
              loading="isLoading"
              loading-text="Loading... Please wait"
              @click:row="showUser"
            >
            <v-progress-linear
              v-show="isLoading"
              slot="progress"
              color="secondary"
              indeterminate
            ></v-progress-linear>
            </v-data-table>
          </v-container>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <!-- Researcher Group -->
        <v-card class="mt-0 mx-auto pa-10" width="75vw">
        <v-card-title> Researcher Group
          <v-btn
            @click="refreshResearcher"
            text
            :loading="loadingButton"
          >
            <v-icon color="secondary" style="pb-1" medium> {{ refreshIcon }} </v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <!-- Researcher Search Field -->
          <v-text-field
            v-model="search"
            label="Search (UPPER CASE ONLY)"
            class="mx-4"
            single-line
            hide-details
            append-icon="mdi-magnify"
          ></v-text-field>
        </v-card-title>
        <v-card-subtitle> Edit User Attributes and Groups </v-card-subtitle>
          <!-- Researcher Data Table -->
          <v-container class="pa-1" width="75vw">
            <v-data-table
              :headers="headersResearcher"
              :items="researcherPayload"
              item-key="name"
              class="elevation-1"
              :search="search"
              :custom-filter="filterOnlyCapsText"
              loading="isLoading"
              loading-text="Loading... Please wait"
              @click:row="showResearcher"
            >
            <v-progress-linear
              v-show="isLoading"
              slot="progress"
              color="secondary"
              indeterminate
            ></v-progress-linear>
            </v-data-table>
          </v-container>
        </v-card>
      </v-tab-item>
      <!-- Click User Transition Card -->
      <v-expand-transition>
        <v-card
          v-if="reveal"
          class="transition-fast-in-fast-out v-card--reveal"
          style="height:100%"
        >
          <v-card-text class="pb-3" >
           <v-row class="justify-center mx-auto">
             <p class="display-2 text--primary">
               {{ selectedName }}
             </p>
           </v-row>
           <v-row class="justify-center mx-auto">
             <v-dialog
              v-model="clickUpdateEmail"
              max-width="500"
             >
              <template v-slot:activator="{ on, attrs }">
               <v-btn
                 text
                 color="secondary"
                 v-bind="attrs"
                 v-on="on"
               >
                 Update Email
               </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline">
                  Update {{ selectedName }}'s Email
                </v-card-title>
                <v-card-text>Please confirm the new email to update with:
                </v-card-text>
                <v-text-field
                  v-model="newEmail"
                  class="pa-5"
                  color="secondary"
                  label="Update Email"
                  :rules="rules.email"
                  required
                >
                </v-text-field>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="grey darken-1"
                    text
                    @click="clickUpdateEmail = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="secondary accent-1"
                    @click="changeEmail"
                  >
                    Change Email
                  </v-btn>
                </v-card-actions>
              </v-card>
             </v-dialog>
             <v-btn
               v-if="selectedStatusBoolean === 'false'"
               text
               color="secondary accent-1"
               @click="confirmUser"
             >
               Confirm User
             </v-btn>
             <v-btn
               v-if="selectedGroups == 'Researcher'"
               text
               color="secondary accent-1"
               @click="removeResearcher"
             >
               Remove Researcher
             </v-btn>
             <v-btn
               v-else
               text
               color="secondary accent-1"
               @click="addResearcher"
             >
               Add Researcher
             </v-btn>
             <v-dialog
              v-model="dialog"

              max-width="290"
             >
              <template v-slot:activator="{ on, attrs }">
               <v-btn
                 text
                 color="red"

                 v-bind="attrs"
                 v-on="on"
               >
                 Delete User
               </v-btn>
              </template>
              <v-card>
                <v-card-title class="headline">
                  Delete Account
                </v-card-title>
                <v-card-text>Are you sure you want to delete this user's account? This action is permanent.
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="secondary darken-1"
                    text
                    @click="dialog = false"
                  >
                    Close
                  </v-btn>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="deleteUser"
                  >
                    Delete
                  </v-btn>
                </v-card-actions>
              </v-card>
             </v-dialog>
           </v-row>
           <v-row class="justify-center pt-3">
            <p><b>Username: </b>{{ selectedUsername}} </p>
           </v-row>
           <v-row v-if="selectedVerified === 'true'" class="justify-center">
             <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
               <p><b>Email: </b>{{ selectedEmail }}</p>
             </v-col>
             <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
               <p style="color:green;">Verified
               <v-icon color="green" style="pb-1" medium>{{ icon }} </v-icon>
               </p>
             </v-col>
           </v-row>
           <v-row v-else class="justify-center">
             <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
              <p><b>Email: </b>{{ selectedEmail }}</p>
             </v-col>
             <v-col class="justify-center pb-0 pt-0" md="auto" pb="0">
              <p style="color:red"> Not Verified
              <v-icon color="red" style="pb-1" medium>{{ icon }} </v-icon>
              </p>
             </v-col>
           </v-row>
           <v-row class="justify-center">
            <p><b>Joined: </b>{{ selectedCreateDate }} </p>
           </v-row>
           <v-row class="justify-center">
            <p><b>Confirmation Status: </b>{{ selectedStatus }} </p>
           </v-row>
           <v-row class="justify-center">
            <p><b>Groups: </b>{{ selectedGroups }} </p>
           </v-row>
          </v-card-text>
          <v-card-actions class="pt-0 justify-center">
           <v-btn
             text
             color="secondary accent-1"
             @click="reveal = false"
           >
             Close
           </v-btn>
          </v-card-actions>
        </v-card>
      </v-expand-transition>
    </v-tabs-items>
    <v-container>
    </v-container>
  </v-card>
</template>

<script>
import { HTTP } from '../services/http-common'
import { mapMutations } from "vuex";

export default {

  methods: {
    ...mapMutations(["setSnackbar"]),

    // deletes selected user from Cognito user pool
    deleteUser() {
      HTTP.delete('cognito/user/delete', {params: {username: this.selectedUsername}})
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: 'Successfully deleted ' + this.selectedName,
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: Could not delete ' + this.selectedName,
          timeout: 5000,
        })
      })
      .finally(() => {
        this.dialog = false;
        this.getUserPayload()
        this.reveal = false
      })
    },

    // Confirms user account in Cognito
    confirmUser() {
      HTTP.patch('cognito/user/confirm', {username: this.selectedUsername})
      .then(() => {
        this.selectedStatus = 'CONFIRMED'
        this.selectedStatusBoolean = 'true'
        this.setSnackbar({
          type: "success",
          msg: 'Successfully confirmed ' + this.selectedName,
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not confirm ' + this.selectedName,
          timeout: 5000,
        })
      })
      .finally(() => {
        this.refreshUser()
        this.refreshResearcher()
      })
    },

    // Removes selected user from Researcher group
    removeResearcher() {
      HTTP.patch('cognito/user/remove', {username: this.selectedUsername, group: 'Researcher'})
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: 'Successfully removed ' + this.selectedName + ' from Research Group',
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not removed ' + this.selectedName + ' from Research Group',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.getUserPayload()
        this.getResearcherPayload()
        this.reveal = false
      })
    },

    // Updates the email of the selected user
    // to the new email provided by Admin
    changeEmail() {
      HTTP.patch('cognito/user/edit',
      {
        username: this.selectedUsername,
        attributes: [
        {
          Name: 'email',
          Value: this.newEmail
        }]
      })
      .then(() => {
        this.setSnackbar({
          type: "success",
          msg: 'Successfully updated email for ' + this.selectedName,
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not update email for ' + this.selectedName,
          timeout: 5000,
        })
      })
      .finally(() => {
        this.clickUpdateEmail = false
        this.refreshUser()
        this.refreshResearcher()
      })
    },

    // Adds user to Researcher group
    // eventually more groups can be added
    addResearcher() {
      HTTP.patch('cognito/user/join', {username: this.selectedUsername, group: 'Researcher'})
      .then(() => {
        this.selectedGroups = 'Researcher'
        this.setSnackbar({
          type: "success",
          msg: 'Successfully added ' + this.selectedName + ' to the Reseacher group',
          timeout: 5000,
        })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not add ' + this.selectedName + ' to Research Group',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.getUserPayload()
        this.getResearcherPayload()
      })
    },


    // Shows card with user details
    // (Researcher group only)
    showResearcher(value) {

      // get values
      this.selectedName = value.Attributes[2].Value
      this.selectedUsername = value.Username
      this.selectedEmail = value.Attributes[3].Value
      this.selectedStatus = value.UserStatus
      this.selectedVerified = value.Attributes[1].Value
      this.selectedCreateDate = value.UserCreateDate

      // grab confirmed status
      if (this.selectedStatus == 'UNCONFIRMED') {
        this.selectedStatusBoolean = false;
      }

      else {
        this.selectedStatusBoolean = true;
      }

      // set verified
      if (this.selectedVerified == 'true') {
        this.icon = 'mdi-check'
      }
      else {
        this.icon = 'alert-circle'
      }

      // GETs the user's groups
      HTTP.get('cognito/user/groups', {params: {username: this.selectedUsername}})
      .then((response) => {
        if (response.data.Groups.length > 0) {
          this.selectedGroups = response.data.Groups[0].GroupName
        }
        else {
          this.selectedGroups = 'None'
        }
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not retrieve groups for ' + this.selectedName,
          timeout: 5000,
        })
      })
      .finally(() => {
        // reveal card
        this.reveal = true;
      })
    },

    // Shows card with user details
    // (All Users only)
    showUser(value) {
      this.selectedName = value.Attributes[0].Value
      this.selectedEmail = value.Attributes[1].Value
      this.selectedStatus = value.UserStatus
      this.selectedUsername = value.Username
      this.selectedCreateDate = value.UserCreateDate

      // grab confirmed status
      if (this.selectedStatus == 'UNCONFIRMED') {
        this.selectedStatusBoolean = false;
      }

      else {
        this.selectedStatusBoolean = true;
      }

      // GETs the value for email verification of selected user
      HTTP.get('cognito/user', {params: {username: this.selectedUsername}})
      .then((response) => {
        this.selectedVerified = response.data.UserAttributes[1].Value
        if (this.selectedVerified == 'true') {
          this.icon = 'mdi-check'
        }
        else {
          this.icon = 'mdi-alert-circle'
        }
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not retrieve email verification status for ' + this.selectedName,
          timeout: 5000,
        })
      })

      // GETs the user's groups
      HTTP.get('cognito/user/groups', {params: {username: this.selectedUsername}})
      .then((response) => {
        if (response.data.Groups.length > 0) {
          this.selectedGroups = response.data.Groups[0].GroupName
        }
        else {
          this.selectedGroups = 'None'
        }
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not retrieve groups for ' + this.selectedName,
          timeout: 5000,
        })
      })
      .finally(() => {
        this.reveal = true;
      })
    },

    // Grabs all users and info for
    // populating Users data table
    getUserPayload() {
      HTTP.get('cognito/users')
      .then((response) => {
        this.userPayload = response.data.Users
        this.userPayload.forEach(el => {
          const timestamp = new Date(el.UserCreateDate)
          el.UserCreateDate = timestamp.toLocaleString()
          })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not retrieve user data',
          timeout: 5000,
        })
      })
    },

    // Grabs all users in the Researcher group
    // for populating Researcher data table
    getResearcherPayload() {
      HTTP.get('cognito/groups/researcher')
      .then((response) => {
        this.researcherPayload = response.data.Users
        this.researcherPayload.forEach(el => {
          const timestamp = new Date(el.UserCreateDate)
          el.UserCreateDate = timestamp.toLocaleString()
          })
      })
      .catch(() => {
        this.setSnackbar({
          type: "error",
          msg: 'Error: could not user data',
          timeout: 5000,
        })
      })
      .finally(() => {
        this.isLoading = false;
      })
    },

    // Refreshes data table for user
    // called by refresh button
    refreshUser() {
      this.loadingButton = true;
      this.getUserPayload()

      // to alert user of action
      setTimeout(() => {
        this.loadingButton = false;
      }, 500)
    },

    // Refreshes data table for researcher
    // called by refresh button
    refreshResearcher() {
      this.loadingButton = true;
      this.getResearcherPayload()

      // to alert user of action
      setTimeout(() => {
        this.loadingButton = false;
      }, 500)
    },

    // Filter for results, set to ALL CAPS
    filterOnlyCapsText (value, search) {
      return value != null &&
      search != null &&
      typeof value === 'string' &&
      value.toString().toLocaleUpperCase().indexOf(search) !== -1
    },
  },

  data: () => ({
    selectedName: '',
    selectedUsername: '',
    selectedEmail: '',
    selectedStatus: '',
    selectedVerified: '',
    selectedCreateDate: '',
    selectedStatusBoolean: 'false',
    selectedGroups: '',
    icon: '',
    reveal: false,
    refreshIcon: 'mdi-refresh',
    loadingButton: false,
    dialog: false,
    newEmail: '',
    clickUpdateEmail: false,

    // Rules for each element
    rules: {
      username: [
        (v) => !!v || "Username is required",
        (v) =>
          /^[A-Za-z]+$/.test(v) ||
          "Name can't contain numbers or special chars.", // numbers are actually okay but this is fine for now
      ],
      email: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      password: [
        (v) => !!v || "Password is required",
        (v) => /(?=.*[0-9])/.test(v) || "Password must contain a number", // Checking for at least one number
        (v) =>
          /(?=.*[A-Z])/.test(v) || "Password must contain a uppercase letter", // Checking for at least one uppercase letter
        (v) =>
          /(?=.*[a-z])/.test(v) || "Password must contain a lowercase letter", // Checking for at least one lowercase letter
        (v) =>
          /(?=.*[@#$%^&*!])/.test(v) ||
          "Password must contain a special character", // Checking for at least one special character
        (v) => v.length > 7 || "Password must have 8 or more characters",
      ],
    },

    // For populating data tables
    tab: null,
    items: [
      'users', 'groups',
    ],

    // Determines the parser to use
    selectVal: undefined,

    // For retrieving data
    userPayload: [],
    researcherPayload: [],
    isLoading: false,

    // for search filter
    search: '',
  }),

  // Headers for data tables
  computed: {
    headersUser () {

      return [
        {
          // First name Last Name
          text: 'Name',
          align: 'start',
          sortable: true,
          value: 'Attributes[0].Value',
        },
        { text: 'Username', value: 'Username' },
        { text: 'Email', value: 'Attributes[1].Value' },
        { text: 'Status', value: 'UserStatus' },
        { text: 'Created', value: 'UserCreateDate'}

      ]
    },

    headersResearcher () {
      return [
        {
          // Name
          text: 'Name',
          align: 'start',
          sortable: true,
          value: 'Attributes[2].Value'
        },

        { text: 'Username', value: 'Username' },
        { text: 'Email', value: 'Attributes[3].Value' },
        { text: 'Verified', value: 'Attributes[1].Value' },
        { text: 'Status', value: 'UserStatus' },
        { text: 'Created', value: 'UserCreateDate'}

      ]
    }
  },

  created() {
    this.isLoading = true;
    this.getUserPayload();
    this.getResearcherPayload();
  }
};

</script>

<style>
.v-card--reveal {
justify-content: center;
bottom: 0;
opacity: 1 !important;
position: absolute;
width: 100%;
}
</style>
